<div class="main row" id="challenge">
  <h3>WORD SEARCH</h3>
    <div class="col-md-offset-2" id="word-search" ng-controller="wordSearchCtrl" >
      <ul class="words">
        <li ng-repeat="word in puzzle.words" ng-class="{'found': word.found}">
          {{word.name}}
        </li>
      </ul>
      <word-search-puzzle matrix="matrix" words="words" api="puzzle"></word-search-puzzle>
      <div class="status">
    <!--     <button ng-click="puzzle.solve()" ng-show="!puzzle.solved" class="solve">solve</button>
        <strong ng-show="puzzle.solved" ng-show="puzzle.solved">Solved!</strong> -->
      </div>
    </div>
  </div>
