.circle-green{
    background-color: $circle-green;
}
.circle-blue{
    background-color: $aqua;

}

.circle-click-here{
    width:200px;
    height:200px;
    border-radius:50%;

    div{
        padding-left: 20px;

        /*  Click HERE  */
    :nth-child(1){
        padding-top: 40px;
        color: #FFF;
      }
      /*  to learn more  */
    :nth-child(2){
        padding-left: 30px;
      }
     /*  about th  */
    :nth-child(2){
        line-height: 5px;
      }
      /*  Executive  */
    .child-4{
        font-family: Georgia, serif;
        color: $discover-color;
        font-size: 1.8em;
        margin-left: -15px;
        margin-top: -10px;
      }
      /*  Branch  */
    :nth-child(5){
        font-family: 'Lora', serif;
        color: #FFF;
        font-size: 2em;
        padding-left: 30px;
        margin-top: -18px;
      }
      /*  !  */
    .exclamation-point{ 
        color: $discover-color;
        font-family: 'Lora', serif;
        font-size: 3em;
        line-height: 10px;
        padding-left: 140px;
        margin-top: -44px;
        margin-left: 10px;
      }
    .click-here-play{ 
        color: $discover-color;
        padding-left: 80px;
        font-size: 2em;
        margin-left: -2px;
        margin-top: -50px;
      }
    .chamber{
        font-size: 2em;
        color: #FFF;
        margin-top: -20px;
    }      
  }
}
#question{
    position: relative;
  }
#answer{
    position: absolute;
    bottom: 0;
    margin-left: 95%;

  }
.circle-click-on{
    color:$main;
    width:200px;
    height:200px;
    border-radius:50%;
    border-color: #main;
    border-style: solid;
    margin-left: -70px;
    position: absolute;
    top:0;
    right: 20px;

    div{
      padding: 30px 0 0 0px;
    }
    span{
      padding: 0 0 0 80px;
      i{
        font-size: 2em;
      }
    }
  }
.circle-correct{
    color:$main;
    width:320px;
    height:320px;
    border-radius:50%;
    border-color: #main;
    border-style: solid;
    div{
      padding: 30px 0 0 0px;
    }
  }

@media only screen and (max-width: 680px) {
    .circle-correct{
    width: 200px;
    height: 200px;
    strong, p{
      font-size: .6em;
    }
    div{
      padding: 0px;
    }
  }
}