.navbar-brand{
  font: 400 3.5em/40% 'Just Another Hand', cursive;
  color: #FFF;
  padding: 30px 0 0 5px;
}
.navbar{
  border-radius: 0px;
  border: none;

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: -40px;
}
.nav-top {
  background-color:rgba(250, 250, 250, 0.8);
  display: block;
}
.navbar-header button span{
  font-size: .8em;
}
.navbar-collapse {
  text-align: center;
  padding: 0;
 }
}
.navbar-toggle{
  border:1px solid #FFF;
  color: #FFF;
  margin-top: 20px;
  margin-right: 10px;
  padding: 4px 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav > li {
  padding: 0 10px 0 10px;
}
.navbar-inner{
    text-align:center;
}
.right-inner-addon {
    position: relative;

  input {
    padding-right: 30px;    
  }

  button {
    position: absolute;
    right: 0px;
    width: 35px;
    height: 35px;
    /*padding: 10px 12px;*/
    pointer-events: none;
  }

  i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
  }
}
.capitol-outline{
  fill: $explore-color;
}
.capitol-outline-fill{
  fill: #FFF;
}
.capitol-logo{
  width: 118px;
  height: 100px;
  background: url(../images/capitol-logo-home.svg) no-repeat center center;
}
.capitol-logo-home{
  background: url(../images/capitol-logo-home.svg) no-repeat center center;
}
.capitol-logo-discover{
  background: url(../images/capitol-logo-discover.svg) no-repeat center center;
}
.capitol-logo-explore{
  background: url(../images/capitol-logo-explore.svg) no-repeat center center;
}
.capitol-logo-challenge{
  background: url(../images/capitol-logo-challenge.svg) no-repeat center center;
}
.ng-scope{
  background-color: $home-color;
}

div.nav3-sub.ng-scope{
  background-color: transparent;
}

.explore-animate-add, .discover-animate-add, .challenge-animate-add{
  background-image: url(/images/stars40.png);
  transition:all linear .5s; 
}

.discover-animate{
  background-color: $discover-color-light;
  transition:all linear 1.5s;
}

.explore-animate{
  background-color: $explore-color-light;
  transition:all linear 1.5s;  

}
.challenge-animate{
  background-color: $challenge-color-light;
  transition:all linear 1.5s;

}
.home-animate{
  background-color: $home-color;
  transition:all linear 1.5s;

}
.mainpage{
 margin-top: -22px;
 padding-bottom: 10px;

  a{
    color: #FFF;
   }

  .nav3{
  padding-top: 15px; 
  padding-bottom: 20px;
  height: 255px;
  padding-top: 181px;
  text-align: center;
  z-index: 1000;

   .nav3-sub{
    display: inline-block;
   }
  }
  .dropdown-menu{
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 0px;
  margin-top: 6px;
  padding: 4px;
  float: none;
  position: static;  
  }

  .dropdown-menu > ul{
    padding: 5px;
  }

  .dropdown-menu > li > a{
    background-color: #FFF;
    border-style: solid;
    border-width: 4px;
    padding: 5px;
    text-align:center;
  }
  // .dropdown-menu > li > a:hover{
  //   color: #FFF;
  // }

.explore{
  background: url(../images/explore-image-ribbon.png) no-repeat center;

   .dropdown-menu{
    background-color: $explore-color;
    
    li {
    //background-color: $explore-color;
    //color: $explore-color;

      a{
      //background-color: #FFF;
      color: $explore-color;

        &:hover{
        color: #FFF;
        background-color: $explore-color;
        }
      }
    }
  }
}
.discover{ 
 background: url(../images/discover-image-ribbon.png) no-repeat center;
  .dropdown-menu{
    background-color: $discover-color;

    li {
    background-color: $discover-color;
    color: $discover-color;

      a{
      color: $discover-color;

        &:hover{
        color: #FFF;
        background-color: $discover-color;
        }
      }
    }
  }
}
.challenge {
  background: url(../images/challenge-image-ribbon.png) no-repeat center;

    .dropdown-menu{
    background-color: $challenge-color;

    li {
    background-color: $challenge-color;
    color: $challenge-color;

      a{
      color: $challenge-color;

        &:hover{
        color: #FFF;
        background-color: $challenge-color;
        }
      }
    }
  }
}
}