<div>

     <h3>DISCOVER THE FOUNDING FATHERS</h3>
    <div class="row">
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle.</p>
    <div class="founding pull-left">
    <img src="images/sam-houston.jpg" class="img-responsive">
    <p>Sam Houston</p>
    </div>
    <div class="founding pull-left">
    <img src="images/stephen-f-austin.jpg" class="img-responsive">
    <p>Stephen F. Austin</p>
    </div>
    <h3><a href="#/discover/sub2">sub2</a></h3>
</div>
        

