html {
  //font-size: calc(1em + 2vw);
}
body {
  font-family: 'Lato', sans-serif;
  @media all and (min-width: 992px) {
    font-size: 20px;
  }
  // @media all and (max-width: 900px) {
  //   font-size: 14px;
  // }
}
h1 {
  font: 400 3em/125% 'Lobster', cursive;
  color: #FFF;
  margin-bottom: 0;
  font-size: 4.5em;
  font-weight: 800;
  white-space: nowrap;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  a,
  a:hover {
    color: #FFF;
    text-decoration: none;
  }
}
h3 {
  font-family: 'Rokkitt', serif;
  font-size: 1.8em;
  margin-top: 10px;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}
h6 {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}
// bootstrap-sass-official overrides

.image-caption{
  font-style: italic;
  font-size: .7em;
}
.carousel-inner > .item > img {
  width: 100%;
}
.carousel-control.right {
  background-image: none;
  text-shadow: none;
}
.carousel-control.left {
  background-image: none;
  text-shadow: none;
}
.carousel-control{
  opacity: inherit;
  @media screen and (max-width: 992px) {
    font-size: 15px;
  }
}
.question .carousel-control {
  top: inherit;
}
#myCarousel {
  .carousel-indicators {
    bottom: 30px;
  }
}
// Utility classes
.row .no-gutters{
  margin-right: 0;
  margin-left: 0;
}
.row .no-gutters > [class^='col-'],
.row .no-gutters > [class*='col-']{
  padding-right: 0;
  padding-left: 0;
}
