
<div id="myAustinCarousel" class="carousel slide" data-ride="carousel" data-interval="true">

<ul class="carousel-indicator">
  <li  data-ng-repeat="slide in slides" data-target="#myAustinCarousel" data-slide-to="{{$index}}">{{slide.title | translate }}</li>
</ul>

<!-- Wrapper for slides -->

<div class="carousel-inner" role="listbox">
  <div class="item {{ slide.class }}" data-ng-repeat="slide in slides">
    <h4>{{slide.title | translate }}</h4>
    <p> {{slide.description | translate }} </p>
      <div id="subCarousel{{ $index }}" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
        <div data-ng-repeat="images in slide.images" class="item {{ images.class }}">
              <img ng-src="{{ images.image }}" class="img-responsive">
              <!-- <p>{{slide.title | translate }}</p> -->

        </div>
        <p class="image-caption">{{ slide.address }}</p>
        <span class="carousel-control left" href="#subCarousel{{ $index }}" role="button" data-slide="prev">
          <span class="arrow prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </span>
        <span class="carousel-control right" href="#subCarousel{{ $index }}" role="button" data-slide="next">
          <span class="arrow next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </span>
        </div>
      </div>
    </div>
</div>


</div>
