<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner" role="listbox">
    <div data-ng-repeat="slide in slides" class="item {{ slide.class }}">
      <div class="question {{ slide.align }} col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5 class="question__sub-title">{{ slide.title | translate }}</h5>
        <p class="question__description">{{ slide.description | translate }}</p>
        <h6 class="question__question">{{ slide.question | translate }}</h6>
        <div class="col-lg-10">
          <form action="">
              <div class="question__answer question__answer--{{ answers.type }}" data-ng-repeat="answers in slide.answers">
                <input type="radio" data-toggle="modal" data-target="#myModal{{ answers.type }}" name="name">
                <label for="{{ answers.type }}">{{ answers.answer | translate }}</label>
                </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="subCarousel{{ $index }}" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div data-ng-repeat="images in slide.images" class="item {{ images.class }}">
              <img ng-src="{{ images.image }}" class="img-responsive" alt="{{ slide.caption | translate }}">
            </div>
            <span class="carousel-control left" href="#subCarousel{{ $index }}" role="button" data-slide="prev">
        <span class="arrow prev" aria-hidden="true"></span>
            <span class="sr-only">Back</span>
            </span>
            <span class="carousel-control right" href="#subCarousel{{ $index }}" role="button" data-slide="next">
        <span class="arrow next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </span>
          </div>
        </div>
        <p class="image-caption">{{ slide.caption | translate }}</p>


      </div>
      <nav class="question__nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="question__left carousel-control left" href="#myCarousel" role="button" data-slide="prev">
        <button class="question__button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
        </span>
        <span class="question__right carousel-control right" href="#myCarousel" role="button" data-slide="next">
        <button class="question__button">Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></button></h4>
        </span>
      </nav>
    </div>
  </div>
  <div class="modal fade" id="myModalcorrect" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <img src="images/correct-star-left.png" alt="Correct">
      </div>
    </div>
  </div>
  </div>
</div>
