<div class="image-slider col-md-10 col-md-offset-1 col-sm-12">
  <img ng-repeat="slide in slides" class="image-slide"
        ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
    <a class="arrow prev" href="#{{ location.path() }}" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#{{ location.path() }}" ng-click="prevSlide()"></a>
    <nav class="slider-nav">
      <div class="slider-wrapper">
        <ul class="dots">
          <li class="dot" ng-repeat="slide in slides">
          <a href="#{{ location.path() }}" ng-class="{'active':isCurrentSlideIndex($index)}"
                ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
        </ul>
      </div>
    </nav>
</div>
