.question{
  height: 400px;

    &__title{
    font-weight: bolder;
    }
    &__sub-title{
    font-style: italic;
    }
    &__question{
    font-style: italic;
    font-size: .9em;
    margin-bottom: 1px;
    }
    &--left{
      float: left;
    }
    &--right{
      float: right;
    }
    &__description{
    font-size: .8em;
    }
    &__answer{
      display: block;
      font-size: .7em;
      margin-bottom: 4px;
      margin-top: 4px;
      position: relative;
      label{
        cursor: pointer;
        font-weight: normal;
        margin-bottom: 0;
        min-height: 20px;
        padding-left: 10px;
      }
    }
    &__answer--wrong{
       input[type=radio]:checked + label{
        text-decoration: line-through;
        color: $discover-color;
      }
    }
    &__answer--correct{
       input[type=radio]:checked + label{
        color: $explore-color;
      }
    }
    &__left{
      padding-top: 30px;
      :hover{
        cursor: pointer;
      }
    }
    &__right{
      padding-top: 30px;
      :hover{
        cursor: pointer;
      }
    }
    &__nav{
      padding: 40px 0 40px 0;
    }
    &__pop{
      margin-left: -10px;
      margin-top: 80px;
    }
}
