<a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'"><h2>EXPLORE<b class="caret"></b></h2></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a href="#/explore/texas-capitol">TEXAS CAPITOL</a></li>
  <li><a href="#/explore/capitol-grounds">CAPITOL GROUNDS</a></li>
  <li><a href="#/explore/capitol-monuments-statues">MONUMENTS &amp; STATUES</a></li>
  <li><a href="">STATE SEAL</a></li>
  <li><a href="">STATE FLAG</a></li>
  <li><a href="">STATE STMBOLS</a></li>
  <li><a href="">ABOUT AUSTIN</a></li>
</ul>