
<div class="state3">
  <nav class="navbar visible-xs-block" role="navigation">
    <div class="navbar-header">
      <!-- <h1 class="navbar-brand visible-xs-block"><a href="/#/">Texas Kids' Guide!</a></h1> -->
      <div class="nav-main__logo">
        <header class="header animated">
          <a href="#/" role="button" aria-label="link back to home page">
          <div class="nav-main__home {{ logo }} animated pull-left">
            <span class="nav-main__home-link">HOME</span>
          </div>
          </a>
        </header>
      </div>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse nav-center bs-navbar-collapse">
      <div class="nav-top">
        <ul class="nav navbar-nav">
          <li><a href="/#/get-involved">{{ 'GET_INVOLVED' | translate }}</a></li>
          <li><a href="/#/resources">{{ 'RESOURCES' | translate }}</a></li>
          <li><a href="/#/glossary">{{ 'GLOSSARY' | translate }}</a></li>
          <li><a href="/#/site-map">{{ 'SITEMAP' | translate }}</a></li>
        </ul>
        <ul class="nav navbar-nav discover">
          <li class="dropdown">
            <a href="" data-toggle="dropdown" class="dropdown-toggle" id="discovermenu">{{ 'DISCOVER' | translate }}<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="discovermenu">
              <li><a ui-sref="texas-state-government" role="menuitem">{{ 'TEXAS_STATE_GOVERNMENT' | translate }}</a></li>
              <li><a ui-sref="house-of-representatives" role="menuitem">{{ 'TEXASHOUSE' | translate }}</a></li>
              <li><a ui-sref="senate" role="menuitem">{{ 'TEXASSENATE' | translate }}</a></li>
              <li><a ui-sref="how-a-bill-becomes-law" role="menuitem">{{ 'HOW_A_BILL_BECOMES_A_LAW' | translate }}</a></li>
              <li><a ui-sref="founding-fathers" role="menuitem">{{ 'FOUNDING_FATHERS' | translate }}</a></li>
              <li><a ui-sref="six-flags-of-texas" role="menuitem">{{ 'SIX_FLAGS_OF_TEXAS' | translate }}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav explore">
          <li class="dropdown">
            <a href="" data-toggle="dropdown" class="dropdown-toggle" id="exploremenu">{{ 'EXPLORE' | translate }}<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="exploremenu">
              <li><a ui-sref="texas-capitol" role="menuitem">{{ 'TEXAS_CAPITOL' | translate }}</a></li>
              <li><a ui-sref="capitol-grounds" role="menuitem">{{ 'CAPITOL_GROUNDS' | translate }}</a></li>
              <li><a ui-sref="capitol-monuments-statues" role="menuitem">{{ 'MONUMENTS_STATUES' | translate }}</a></li>
              <li><a ui-sref="rotunda" role="menuitem">{{ 'ROTUNDA' | translate }}</a></li>
              <li><a ui-sref="state-seal" role="menuitem">{{ 'STATE_SEAL' | translate }}</a></li>
              <li><a ui-sref="state-symbols" role="menuitem">{{ 'STATE_SYMBOLS' | translate }}</a></li>
              <li><a ui-sref="city-of-austin" role="menuitem">{{ 'ABOUT_AUSTIN' | translate }}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav challenge">
          <li class="dropdown">
            <a href="" data-toggle="dropdown" class="dropdown-toggle" id="challengemenu">{{ 'CHALLENGE' | translate }}<b class="caret"></b></a>
            <ul class="dropdown-menu removenav" role="menu" aria-labelledby="challengemenu">
              <li><a ui-sref="flip-cards" role="menuitem">{{ 'FLIP_CARD' | translate }}</a></li>
              <li><a ui-sref="word-search-puzzle" role="menuitem">{{ 'WORD_SEARCH' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<nav class="nav-main navbar col-lg-offset-2 hidden-xs" role="navigation">
  <div class="nav-main__logo">
    <header class="header animated">
      <a href="#/" role="button" aria-label="link back to home page">
      <div class="nav-main__home {{ logo }} animated pull-left">
        <span class="nav-main__home-link">HOME</span>
      </div>
      </a>
    </header>
  </div>
  <div class="col-sm-3 col-md-3 nav3">
    <ul class="nav navbar-nav discover">
      <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" id="discovermenu">{{ 'DISCOVER' | translate }}<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="discovermenu">
          <li><a ui-sref="texas-state-government" role="menuitem">{{ 'TEXAS_STATE_GOVERNMENT' | translate }}</a></li>
          <li><a ui-sref="house-of-representatives" role="menuitem">{{ 'TEXASHOUSE' | translate }}</a></li>
          <li><a ui-sref="senate" role="menuitem">{{ 'TEXASSENATE' | translate }}</a></li>
          <li><a ui-sref="how-a-bill-becomes-law" role="menuitem">{{ 'HOW_A_BILL_BECOMES_A_LAW' | translate }}</a></li>
          <li><a ui-sref="founding-fathers" role="menuitem">{{ 'FOUNDING_FATHERS' | translate }}</a></li>
          <li><a ui-sref="six-flags-of-texas" role="menuitem">{{ 'SIX_FLAGS_OF_TEXAS' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-sm-3 col-md-3 nav3">
    <ul class="nav navbar-nav explore">
      <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" id="exploremenu">{{ 'EXPLORE' | translate }}<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="exploremenu">
          <li><a ui-sref="texas-capitol" role="menuitem" ng-click="myCssVar2='capitol-logo-explore wobble'">{{ 'TEXAS_CAPITOL' | translate }}</a></li>
          <li><a ui-sref="capitol-grounds" role="menuitem" ng-click="myCssVar2='capitol-logo-explore jello'">{{ 'CAPITOL_GROUNDS' | translate }}</a></li>
          <li><a ui-sref="capitol-monuments-statues" role="menuitem" ng-click="myCssVar2='capitol-logo-explore shake'">{{ 'MONUMENTS_STATUES' | translate }}</a></li>
          <li><a ui-sref="rotunda" role="menuitem" ng-click="myCssVar2='capitol-logo-explore tada'">{{ 'ROTUNDA' | translate }}</a></li>
          <li><a ui-sref="state-seal" role="menuitem" ng-click="myCssVar2='capitol-logo-explore flash'">{{ 'STATE_SEAL' | translate }}</a></li>
          <li><a ui-sref="state-symbols" role="menuitem" ng-click="myCssVar2='capitol-logo-explore bounce'">{{ 'STATE_SYMBOLS' | translate }}</a></li>
          <li><a ui-sref="city-of-austin" role="menuitem" ng-click="myCssVar2='capitol-logo-explore rubberBand'">{{ 'ABOUT_AUSTIN' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-sm-3 col-md-3 nav3">
    <ul class="nav navbar-nav challenge">
      <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" id="challengemenu">{{ 'CHALLENGE' | translate }}<b class="caret"></b></a>
        <ul class="dropdown-menu removenav" role="menu" aria-labelledby="challengemenu">
          <li><a ui-sref="flip-cards" role="menuitem" ng-click="myCssVar2='capitol-logo-challenge swing'">{{ 'FLIP_CARD' | translate }}</a></li>
          <li><a ui-sref="word-search-puzzle" role="menuitem" ng-click="myCssVar2='capitol-logo-challenge flash'">{{ 'WORD_SEARCH' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</div>
