<div class="col-sm-4 col-md-4 nav3 discover">
  <div class="nav3-sub">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'"><h2>DISCOVER<b class="caret"></b></h2></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a href="#/discover/texas-state-government">TEXAS STATE<br /> GOVERNMENT</a></li>
          <li><a href="#/discover/house-of-representatives">TEXAS HOUSE OF<br /> REPRESENTATIVES</a></li>
          <li><a href="#/discover/how-a-bill-becomes-law">HOW A BILL BECOMES</br > A LAW</a></li>
          <li><a href="#/discover/founding-fathers">FOUNDING FATHERS</a></li>
          <li><a href="#/discover/six-flags-of-texas">SIX FLAGS OF TEXAS</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 nav3 explore">
        <div class="nav3-sub">
          <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="$parent.$parent.myCssVar=$parent.$parent.explore-animate;"><h2>EXPLORE<b class="caret"></b></h2></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a href="#/explore/texas-capitol">TEXAS CAPITOL</a></li>
          <li><a href="#/explore/capitol-grounds">CAPITOL GROUNDS</a></li>
          <li><a href="#/explore/capitol-monuments-statues">MONUMENTS &amp; STATUES</a></li>
          <li><a href="">STATE SEAL</a></li>
          <li><a href="">STATE FLAG</a></li>
          <li><a href="">STATE STMBOLS</a></li>
          <li><a href="">ABOUT AUSTIN</a></li>
        </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 nav3 challenge">
      <div class="nav3-sub">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="myCssVar='challenge-animate'; myCssVar2='capitol-logo-challenge'"><h2>CHALLENGE<b class="caret"></b></h2></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="">QUIZZES</a></li>
        <li><a href="">CROSSWORD PUZZLE</a></li>
        <li><a href="">WORD SEARCH</a></li>
        <li><a href="">SCAVENGER HUNT</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>