      <nav class="row" id="secondnav">
        <div class="large-nav2 hidden-xs">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="#/history">
            <img class="img-center center-block icons-nav" src='images/capitol-bldg.jpg' alt=''>
            <h2 class="text-center center-block">
              History</h2></a>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-2" id="state">
            <a href="#/state-government">
            <img class="img-center center-block icons-nav" src='images/gavel.jpg' alt=''>
            <h2 class="text-center center-block">
              State Government</h2></a>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="#/representatives">
            <img class="img-center center-block icons-nav" src='images/podium.jpg' alt=''>
            <h2 class="text-center center-block">
              Representatives</h2></a>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-2">
            <a ng-href="#/bill-law">
            <img class="img-center center-block icons-nav" src='images/paperscroll.jpg' alt=''>
            <h2 class="text-center center-block">
              Bill>Law</h2></a>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-2">
            <a ng-href="#/flags-of-texas">
            <img class="img-center center-block icons-nav" src='images/banner-flag.jpg' alt=''>
            <h2 class="text-center center-block">
              Flags of Texas</h2></a>
          </div>
           <div class="col-sm-6 col-md-4 col-lg-2">
            <a href="#/fun-facts">
            <img class="img-center center-block icons-nav" src='images/mockingbird.jpg' alt=''>
            <h2 class="text-center center-block">
              Fun Facts</h2></a>
          </div>
        </div>
      </nav>
      <div ui-view="main"></div>