<div class="col-sm-4 col-md-4 nav3 discover discover-scroll">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="" data-toggle="dropdown" class="dropdown-toggle" id="discovermenu">{{ 'DISCOVER' | translate }}<b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="discovermenu">
        <li><a href="#/discover/texas-state-government" role="menuitem" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'">{{ 'TEXAS_STATE_GOVERNMENT' | translate }}</a></li>
        <li><a href="#/discover/house-of-representatives" role="menuitem" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'">{{ 'TEXAS_HOUSE_OF_REPRESENTATIVES' | translate }}</a></li>
        <li><a href="#/discover/senate" role="menuitem" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'">{{ 'TEXASSENATE' | translate }}</a></li>
        <li><a href="#/discover/how-a-bill-becomes-law" role="menuitem" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'">{{ 'HOW_A_BILL_BECOMES_A_LAW' | translate }}</a></li>
        <li><a href="#/discover/founding-fathers" role="menuitem" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'">{{ 'FOUNDING_FATHERS' | translate }}</a></li>
        <li><a href="#/discover/six-flags-of-texas" role="menuitem" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'">{{ 'SIX_FLAGS_OF_TEXAS' | translate }}</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="col-sm-4 col-md-4 nav3 explore explore-scroll">
  <div class="nav3-sub">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" id="exploremenu">{{ 'EXPLORE' | translate }}<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="exploremenu">
          <li><a href="#/explore/texas-capitol" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'TEXAS_CAPITOL' | translate }}</a></li>
          <li><a href="#/explore/capitol-grounds" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'CAPITOL_GROUNDS' | translate }}</a></li>
          <li><a href="#/explore/capitol-monuments-statues" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'MONUMENTS_STATUES' | translate }}</a></li>
          <li><a href="#/explore/rotunda" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'ROTUNDA' | translate }}</a></li>
          <li><a href="#/explore/state-seal" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'STATE_SEAL' | translate }}</a></li>
          <li><a href="#/explore/state-symbols" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'STATE_SYMBOLS' | translate }}</a></li>
          <li><a href="#/explore/city-of-austin" role="menuitem" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'">{{ 'ABOUT_AUSTIN' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="col-sm-4 col-md-4 nav3 challenge challenge-scroll">
  <div class="nav3-sub">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="" data-toggle="dropdown" class="dropdown-toggle" id="challengemenu">{{ 'CHALLENGE' | translate }}<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="challengemenu">
          <li><a href="#/challenge/flip-cards" role="menuitem" ng-click="myCssVar='challenge-animate'; myCssVar2='capitol-logo-challenge'">{{ 'FLIP_CARD' | translate }}</a></li>
          <li><a href="#/challenge/word-search-puzzle" role="menuitem" ng-click="myCssVar='challenge-animate'; myCssVar2='capitol-logo-challenge'">{{ 'WORD_SEARCH' | translate }}</a></li>
          <li><a href="#/challenge/texas-government-test" role="menuitem" ng-click="myCssVar='challenge-animate'; myCssVar2='capitol-logo-challenge'">{{ 'TEXAS_GOVERMENT_TEST' | translate }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
