<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Texas Kids' Guide!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="http://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="kidshouse" ng-class="myCssVar">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <header class="navbar" role="navigation">
    <nav>
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true">MENU</span>
      </button>
      <a href="/#/" class="navbar-brand visible-xs-block">Texas Kids' Guide!</a>
    </div>
    <div class="navbar-collapse collapse nav-center bs-navbar-collapse">
      <div class="nav-top">
        <ul class="nav navbar-nav">
          <li class="hidden-xs visible-sm-block visible-md-block visible-lg-block"><a href="/#/" ng-click="myCssVar='home-animate'; myCssVar2='capitol-logo-home'">HOME</a></li>
          <li class="visible-xs-block">  
            <form class="navbar-form" role="form">
              <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" placeholder="Search" class="form-control" />
              </div>
            </form>
          </li>
          <li><a href="/#/glossary" ng-click="myCssVar='home-animate'; myCssVar2='capitol-logo-home'">GET INVOLVED</a></li>
          <li><a href="/#/get-involved" ng-click="myCssVar='home-animate'; myCssVar2='capitol-logo-home'">RESOURCES</a></li>
          <li class="capitol-logo visible-md-block visible-lg-block" ng-class="myCssVar2"></li>
          <li><a href="/#/get-involved" ng-click="myCssVar='home-animate'; myCssVar2='capitol-logo-home'">GLOSSARY</a></li>
          <li class="visible-xs-block dropdown-submenu"><a href="#/discover/" class="dropdown-toggle" data-toggle="dropdown" ng-click="myCssVar='discover-animate'">DISCOVER<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/discover/texas-state-government">TEXAS STATE<br /> GOVERNMENT</a></li>
            <li><a href="#/discover/house-of-representatives">TEXAS HOUSE OF<br /> REPRESENTATIVES</a></li>
            <li><a href="#/discover/how-a-bill-becomes-law">HOW A BILL BECOMES</br > A LAW</a></li>
            <li><a href="#/discover/founding-fathers">FOUNDING FATHERS</a></li>
            <li><a href="#/discover/six-flags-of-texas">SIX FLAGS OF TEXAS</a></li>
          </ul>

          </li>
          <li class="visible-xs-block"><a href="#/explore/" ng-click="myCssVar='explore-animate'">EXPLORE</a>
          <ul class="dropdown-menu">

          </ul>
          </li>
          <li class="visible-xs-block"><a href="#/challenge/" ng-click="myCssVar='challenge-animate'">CHALLENGE</a></li>
   
          <li class="visible-sm-block visible-md-block visible-lg-block">  
            <form class="navbar-form" role="form">
              <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" placeholder="Search" class="form-control" />
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mainpage">
      <h1 class="text-center visible-sm-block visible-md-block visible-lg-block">Texas Kids' Guide!</h1>
      <div class="mainpage col-md-8 col-md-offset-2 visible-sm-block visible-md-block visible-lg-block">
        <div class="col-sm-4 col-md-4 nav3 discover">
            <div class="nav3-sub">
                <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="myCssVar='discover-animate'; myCssVar2='capitol-logo-discover'"><h2>DISCOVER<b class="caret"></b></h2></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="#/discover/texas-state-government">TEXAS STATE<br /> GOVERNMENT</a></li>
                <li><a href="#/discover/house-of-representatives">TEXAS HOUSE OF<br /> REPRESENTATIVES</a></li>
                <li><a href="#/discover/how-a-bill-becomes-law">HOW A BILL BECOMES</br > A LAW</a></li>
                <li><a href="#/discover/founding-fathers">FOUNDING FATHERS</a></li>
                <li><a href="#/discover/six-flags-of-texas">SIX FLAGS OF TEXAS</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 nav3 explore">
            <div class="nav3-sub">
              <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="myCssVar='explore-animate'; myCssVar2='capitol-logo-explore'"><h2>EXPLORE<b class="caret"></b></h2></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="#/explore/texas-capitol">TEXAS CAPITOL</a></li>
                  <li><a href="#/explore/capitol-grounds">CAPITOL GROUNDS</a></li>
                  <li><a href="#/explore/capitol-monuments-statues">MONUMENTS &amp; STATUES</a></li>
                  <li><a href="">STATE SEAL</a></li>
                  <li><a href="">STATE FLAG</a></li>
                  <li><a href="">STATE STMBOLS</a></li>
                  <li><a href="">ABOUT AUSTIN</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 nav3 challenge">
          <div class="nav3-sub">
              <a href="" data-toggle="dropdown" class="dropdown-toggle" ng-click="myCssVar='challenge-animate'; myCssVar2='capitol-logo-challenge'"><h2>CHALLENGE<b class="caret"></b></h2></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a href="">QUIZZES</a></li>
                  <li><a href="">CROSSWORD PUZZLE</a></li>
                  <li><a href="">WORD SEARCH</a></li>
                  <li><a href="">SCAVENGER HUNT</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    </div><!--/.navbar-collapse -->
    </nav><!--/.container -->
  </header>
    <div ui-view="main" class="content">
    <div class="col-md-8 col-md-offset-2 main-header">
    <div ui-view></div>
    </div> <!-- main -->
    </div> <!-- content -->

    <!-- Footer -->
    <footer class="col-md-8 col-md-offset-2">Footer</footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/explore.js"></script>

        
        <script src="scripts/controllers/slider.js"></script>
        <script src="scripts/controllers/swiper.js"></script>
        <!-- endbuild -->
        <script>
          window.addEventListener('hashchange', function(){
            console.log('Hash changed!'+ window.location.hash);
          });
          // function HeaderController($scope, $location)
          //    {
          //     $scope.isActive = function (viewLocation){

          //       return viewLocation ==== $location.path();
          //       Console.log(viewLocation);
          //     };
          //    }

        </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
</body>
</html>
