#challenge {
h3{
  color: $blue-dark;
  }
  h4{
  color: $start-color;
  }
  h5{
  color: $blue-dark;
  }
  h6{
  color: $start-color;
  }
  .border{
    border: 5px $blue-dark;
    border-bottom-style: dotted;
  }
}
