#discover {
h3{
  color: $discover-color;
  }
  h4{
  color: $start-color;
  }
  h5{
  color: $start-color;
  }
  h6{
  color: $start-color;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
  }
  .border{
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 5px $discover-color;
    border-bottom-style: dotted;
  }
  ul li{
    //padding-left: 15px;
  }
  ul li a:hover{
    color: $pink;
    font: bold;
  }
  .bill-images{
    padding: 10px;
    width: 150px;
    height: 150px;
  }
}
#myFlagCarousel {
  .carousel-indicators {
  bottom: 80px;
  }
  .carousel-inner{
  p{
    height: 50px;
  }
  }
}
#myHouseCarousel {
  .carousel-indicators {
  bottom: 80px;
  li {
      border: 1px solid $main;
    }
  .active {
      background-color: $main;
    }

  }
  .carousel-inner{
  p{
    height: 50px;
  }
  }
}
