#discover {
h3{
  color: $discover-color;
  }
  h4{
  color: $start-color;
  }
  h5{
  color: $green;
  }
  h6{
  color: $main;
  }
  .border{
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 5px $discover-color;
    border-bottom-style: dotted;
  }
  ul li{
    //padding-left: 15px;
  }
  ul li a:hover{
    color: $pink;
    font: bold;
  }
  .image-caption{
    font-size: .7em;
  }
  .bill-images{
    padding: 10px;
    width: 150px;
    height: 150px;
  }
}
#myFlagCarousel {
  .carousel-indicators {
  bottom: 100px;
  }
  .carousel-inner{
    p{
      height: 100px;
    }
  }
}
