#explore {
  h3{
  color: $explore-color;
  }
  h4{
  color: $start-color;
  }
  h5{
  color: $start-color;
  }
  h6{
  color: $explore-color;
  }
  .border{
    border: 5px $explore-color;
    border-bottom-style: dotted;
  }

  .capitol-p{
    margin-top: 30px;
  }


  .capitol-layout{
    position: relative;
    height: 550px;
    width: 670px;
     margin: 0 auto;
  .capitol-direction{
       position: absolute;
       top: 20px;
       left: 120px;
       img:hover{
           opacity: inherit;
         }
     }

    img:hover{
        opacity: 0.5;
      }

    #img-top{
      position: absolute;
      top:0;
      right: 356px;
      background-image: url(../images/capitol/top-roll.png);

    }
    #img-senate{
      position: absolute;
      top:240px;
      right: 465px;
      background-image: url(../images/capitol/senate-roll.png);

    }
    #img-dome{
      position: absolute;
      top:65px;
      right: 295px;
      z-index: 997;
      background-image: url(../images/capitol/dome-roll.png);

    }
    #img-house{
      position: absolute;
      top:240px;
      right: -40px;
      background-image: url(../images/capitol/house-roll.png);

    }
    #img-main{
      position: absolute;
      top:210px;
      right: 215px;
      z-index: 998;
      background-image: url(../images/capitol/main-roll.png);

    }
    #img-mainback{
      position: absolute;
      top:184px;
      right: 215px;
      z-index: 996;

    }
  }
  #myCarousel{
    .next {
      right:0;
    }
    .prev {
      left:0;
    }
  }

  #myAustinCarousel{
  .carousel-indicator{
    float: left;

        ul{
          list-style-type: disc;
          columns: 3;
          -webkit-columns: 3;
          -moz-columns: 3;
          list-style-position: inside;
        }
    li{
      float: left;
      width: 30%;
      color: $challenge-color-light;
      cursor: pointer;

    }
    li.active {
      color: $start-color;
    }
  }
  }
  #myCapitolCarousel {
    .slide-title .active{
      display: none
    }
    .carousel-indicators {
      bottom: 20px;

    li {
          border: 1px solid $main;
        }
    .active {
          background-color: $main;
        }

    }
  }
  #mySealCarousel {
    .carousel-indicators {
      bottom: 30px;
    }

  }
}
