#explore {
  h3{
  color: $explore-color;
  }
  h4{
  color: $start-color;
  }
  h5{
  color: $explore-color;
  }
  h6{
  color: $start-color;
  }
  .border{
    border: 5px $explore-color;
    border-bottom-style: dotted;
  }


  .capitol-layout{
    position: relative;
    // top: 50px;
    // left: 0;
    // right: 30px; 
    // bottom: 0;
    height: 450px;
    width: 670px;
    // position: absolute;
    // height: 50%;
    // width: 50%;
    // overflow: auto;
     margin: 0 auto;
     background-color: red;

    img:hover{
        opacity: 0.5;
      }
    
    #img-top{
      position: absolute;
      top:0;
      right: 332px;
      background-image: url(../images/capitol/top-roll.png);

    }
    #img-senate{
      position: absolute;
      top:200px;
      right: 425px;
      background-image: url(../images/capitol/senate-roll.png);
      
    }
    #img-dome{
      position: absolute;
      top:55px;
      right: 280px;
      z-index: 997;
      background-image: url(../images/capitol/dome-roll.png);
      
    }
    #img-house{
      position: absolute;
      top:200px;
      right: 0px;
      background-image: url(../images/capitol/house-roll.png);
      
    }
    #img-main{
      position: absolute;
      top:175px;
      right: 215px;
      z-index: 998;
      background-image: url(../images/capitol/main-roll.png);
      
    }
    #img-mainback{
      position: absolute;
      top:153px;
      right: 215px;
      z-index: 996;
      
    }
  }
}
