.traspartent{
  background: rgba(255,255,255,0.5);
  height: 25px;
}
.founding{
  float: none;
  display: inline-block;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0 10px 0;
}
.main{
  padding: 0 30px 30px 30px;
}

.main-header{
  padding-left: 0px;
  padding-right: 0px;
}

.main.row.ng-scope{
  background-color: #FFF;
}
.main.row.ng-scope div.col-md-12 div.ng-scope{
  background-color: #FFF;
}
body.ng-scope{
  background-color: $home-color;
}

footer{
  background-color: rgba(250, 250, 250, 0.8);
  display: block;
  padding-top: 10px;
}

@media (min-width: 768px){
  .main{
    //padding: 0 30px 30px 30px;
  }
  .nav-top {
    //margin-top: 30px;
  }
}
