body {
  background-image: url("/images/stars45.png");
  background-attachment: fixed;
  background-color: $home-color;
}
body.home-animate {
  background-color: $home-color;
}
body.discover-animate {
  background-color: $discover-color-light;
}
body.explore-animate {
  background-color: $explore-color-light;
}
body.challenge-animate {
  background-color: $challenge-color-light;
}
.traspartent{
  background: rgba(255,255,255,0.5);
  height: 25px;
}
.founding{
  float: none;
  display: inline-block;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0 10px 0;
    @media screen and (max-width: 768px) {
      // remove padding on mobl to tightn up spacing
      padding: 0;
    }
}
.main{
  padding: 0 30px 30px 30px;
}
.main-header{
  padding-left: 0px;
  padding-right: 0px;
}
.main.row{
  background-color: #FFF;
}
// .main.row.ng-scope div.col-md-12 div.ng-scope{
//   background-color: #FFF;
// }
