.navbar-brand{
  font: 400 3.5em/40% 'Just Another Hand', cursive;
  color: #FFF;
  padding: 30px 0 0 5px;
}

.navbar{
  border-radius: 0px;
  border: none;

  .navbar-nav {
    display: inline-block;
     margin: 0;

    > li > a {
       color: $body;
    }

    > li > a:hover a:active{
    background-color: transparent;
    color: $challenge-color-light;
    }

   .open > a, a:hover, a:focus{
    background-color: transparent;
    color: $challenge-color-light;
    }
  } //navbar-nav
.nav-top {
  background-color:rgba(250, 250, 250, 0.8);
  display: block;
}
.navbar-header button span{
  font-size: 1.8em;
}
  .navbar-collapse {
  text-align: center;
  padding: 0;
  }
 .navbar-toggle{
  border:1px solid #FFF;
  color: #FFF;
  margin-top: 20px;
  margin-right: 10px;
  padding: 4px 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  }
} // navbar

.navbar-inner{
    text-align:center;
}
.right-inner-addon {
    position: relative;

  input {
    padding-right: 30px;
  }

  button {
    position: absolute;
    right: 0px;
    width: 35px;
    height: 35px;
    pointer-events: none;
  }

  i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
  }
}

// capitol logo

.capitol-logo{
  width: 118px;
  height: 100px;
 background: url(../images/capitol-logo-home.svg) no-repeat center center;
}
.capitol-logo-home{
  background: url(../images/capitol-logo-home.svg) no-repeat center center;
}
.capitol-logo-discover{
  background: url(../images/capitol-logo-discover.svg) no-repeat center center;
}
.capitol-logo-explore{
  background: url(../images/capitol-logo-explore.svg) no-repeat center center;
}
.capitol-logo-challenge{
  background: url(../images/capitol-logo-challenge.svg) no-repeat center center;
}

body.explore-animate-add-active, body.discover-animate-add-active, body.challenge-animate-add-active {
  transition: background-image 1s ease-in-out;
  background-image: url(/images/stars45.png);
  // all 1.5s ease-in-out;
}

body.discover-animate{
  background-color: $discover-color-light;
  //transition:all linear 1.5s;
}

body.explore-animate{
  background-color: $explore-color-light;
  //transition:all linear 1.5s;

}
body.challenge-animate{
  background-color: $challenge-color-light;
  //transition:all linear 1.5s;

}
.home-animate{
  background-color: $home-color;
  //transition:all linear 1.5s;

}

/**
reponsive change to sub nav to remove the images so it can be more inline with top nav.
We only want a list of nav links on mobile devices
**/

@media screen and (min-width: 768px){
.nav > li > a {
    //padding: 15px 0 12px 0;
}
.navbar{
  .navbar-nav {
    float: none;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: -40px;

    > li.dropdown > a{
      padding: 18px 0 9px 0;
      font-family: 'Rokkitt', serif;
      font-size: 1.5em;
      font-style: bold;
      color: #FFF;
    }
  } //navbar-nav
}
.mainpage{

  .nav3{
  height: 255px;
  padding-top: 181px;
  text-align: center;
  z-index: 1000;
  }

  .dropdown-menu{
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 0px;
  margin-top: 6px;
  padding: 4px;
  float: none;
  position: static;

    > ul{
      padding: 5px;
    }

    > li > a{
      background-color: #FFF;
      font-family: 'Lato', sans-serif;
      border-style: solid;
      border-width: 4px;
      padding: 5px;
      text-align:center;
      color: #666;
    }
  } //dropdown-menu

.discover{
 background: url(../images/discover-image-ribbon.png) no-repeat center;
  .dropdown-menu{
    background-color: $discover-color;

    li {
    background-color: $discover-color;
    color: $discover-color;

      a{
      color: $discover-color;

        &:hover{
        color: #FFF;
        background-color: $discover-color;
        }
      }
    }
  }
}

.explore{
  background: url(../images/explore-image-ribbon.png) no-repeat center;

   .dropdown-menu{
    background-color: $explore-color;

    li {
    background-color: $explore-color;
    color: $explore-color;

      a{
      //background-color: #FFF;
      color: $explore-color;

        &:hover{
        color: #FFF;
        background-color: $explore-color;
        }
      }
    }
  }
}

.challenge {
  background: url(../images/challenge-image-ribbon2.png) no-repeat center;

    .dropdown-menu{
    background-color: $challenge-color;

    li {
    background-color: $challenge-color;
    color: $challenge-color;

      a{
      color: $challenge-color;

        &:hover{
        color: #FFF;
        background-color: $challenge-color;
        }
      }
    }
  }
}
}
}
@media screen and (max-width: 768px){
    .dropdown-menu > li > a {
      color: #337ab7;
      text-align: center;
      margin-left: -20px;
    }
    .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }
}
