.navbar {
  border-radius: 0;
  border: none;

  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

    > li.dropdown > a {
      padding: 18px 0 10px;
      font-family: 'Rokkitt', serif;
      font-size: 1.5em;
      color: #FFF;
    }

    > li > a {
      color: $body;
    }

    > li > a:hover a:active {
      background-color: transparent;
      color: $challenge-color-light;
    }

    .open > a,
    a:focus,
    a:hover {
      background-color: transparent;
      color: $challenge-color-light;
    }
  }

  .nav-bar-top {
    background-color: rgba(250, 250, 250, 0.8);
    display: block;
  }

  .navbar-header button span {
    font-size: 1.8em;
  }

  .navbar-collapse {
    text-align: center;
    padding: 0;
  }

  .navbar-toggle {
    border: 1px solid #FFF;
    color: #FFF;
    margin-top: 20px;
    margin-right: 10px;
    padding: 4px 5px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
// capitol logo
.capitol-logo {
  width: 110px;
  height: 80px;
  background: url("../images/capitol-logo-home.svg") no-repeat center center;
}
.discover {
  .dropdown {
    background: url("../images/ribbon-discover.svg") no-repeat center;
  }
}
.explore {
  .dropdown {
    background: url("../images/ribbon-explore.svg") no-repeat center;
  }
}
.challenge {
  .dropdown {
    background: url("../images/ribbon-challenge.svg") no-repeat center;
  }
}
/**
Apply if the media type is screen and the viewport is 930px wide or wider.
**/
@media screen and (max-width: 992px) {
  .state3{
  .discover {
    .dropdown {
      background: url("../images/ribbon-discover-small.svg") no-repeat center;
    }
  }
  .explore {
    .dropdown {
      background: url("../images/ribbon-explore-small.svg") no-repeat center;
    }
  }
  .challenge {
    .dropdown {
      background: url("../images/ribbon-challenge-small.svg") no-repeat center;
    }
  }
  }
}
/**
Apply if the media type is screen and the viewport is 768px wide or wider.
**/
@media screen and (min-width: 768px) {
  .glyphicon,
  .glyphicon-home {
    font-size: 20px;
  }

  .nav-bar-top .navbar-nav {
    margin-bottom: -30px;
  }

  .nav3 {
    float: left;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown {
    z-index: 1040;
    width: 292px;
    height: 60px;
  }

  .dropdown-menu {
    //font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 0;
    margin-top: 6px;
    padding: 4px;
    float: none;
    position: static;
    margin-left: 20px;
    margin-right: 25px;

    > ul {
      padding: 5px;
      display: table;
      margin: 0 auto;
    }

    > li > a {
      background-color: #FFF;
      font-family: 'Lato', sans-serif;
      border-style: solid;
      border-width: 4px;
      padding: 5px;
      text-align: center;
      color: #666;

      .home {
        padding: 0;
      }
    }
  }


  .nav-main {
    padding-left: 0;
    padding-right: 0;

    &__logo {
      padding-left: 0;
      padding-right: 0;

      a,
      a:hover {
        text-decoration: none;
      }
    }

    &__home {
      background-size: contain;
      height: 80px;
      width: 100px;

      &:hover {
        background: none;
      }

      &:hover .nav-main__home-link {
        display: block;
      }

      &--main {
        background: url("../images/capitol-logo-home-small.svg") no-repeat center;
      }

      &--discover {
        background: url("../images/capitol-logo-discover-small.svg") no-repeat center;
      }

      &--explore {
        background: url("../images/capitol-logo-explore-small.svg") no-repeat center;
      }

      &--challenge {
        background: url("../images/capitol-logo-challenge-small.svg") no-repeat center;
      }
    }

    &__home-link {
      padding-top: 34px;
      padding-left: 5px;
      display: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.7em;
      font-weight: 400;
      color: $main;
    }
  }
  //dropdown-menu
  .state1 {
    .nav-main__logo{
      display: none;
    }
    .dropdown {
      margin-top: -80px;
    }
    .navbar {
      margin-bottom: 0;
    }
    .scroller {
      height: 255px;
    }
    .discover-normal {
      background: url("../images/discover-icon.png") no-repeat center;
    }

    .explore-normal {
      background: url("../images/explore-icon.png") no-repeat center;
    }

    .challenge-normal {
      background: url("../images/challenge-icon.png") no-repeat center;
    }
  }
  .state2 {
    .scroller {
      height: 0px;
    }
    .nav-main__logo{
      display: none;
    }
    .nav-main {
      padding-bottom: 10px;
    }
    .navbar {
      margin-bottom: 0;
    }
  }


  .state3 {
    padding: 5px 0;
    .nav-top{
      display: none;
    }
    .header{
      display: none;
    }
    .navbar {
      margin-bottom: 0;
    .nav3{
      margin-left: -40px;
      padding-top: 10px;
     }
    }
  }
  .discover {
    .dropdown-menu {
      background-color: $discover-color;

      li {
        background-color: $discover-color;
        color: $discover-color;

        a {
          color: $discover-color;

          &:hover {
            color: #FFF;
            background-color: $discover-color;
          }
        }
      }
    }
  }

  .explore {
    .dropdown-menu {
      background-color: $explore-color;

      li {
        background-color: $explore-color;
        color: $explore-color;

        a {
          //background-color: #FFF;
          color: $explore-color;

          &:hover {
            color: #FFF;
            background-color: $explore-color;
          }
        }
      }
    }
  }

  .challenge {
    .dropdown-menu {
      background-color: $challenge-color;

      li {
        background-color: $challenge-color;
        color: $challenge-color;

        a {
          color: $challenge-color;

          &:hover {
            color: #FFF;
            background-color: $challenge-color;
          }
        }
      }
    }
  }
}
  // @media all and (min-width: 930px) {
  //   .discover {
  //     .dropdown {
  //       background: url("../images/ribbon-discover-small-ex.svg") no-repeat center;
  //     }
  //   }
  //   .explore {
  //     .dropdown {
  //       background: url("../images/ribbon-explore-small-ex.svg") no-repeat center;
  //     }
  //   }
  //   .challenge {
  //     .dropdown {
  //       background: url("../images/ribbon-challenge-small-ex.svg") no-repeat center;
  //     }
  //   }
  // }

@media screen and (max-width: 768px) {
  // When the width of this document is less than 768px
  h1{
      margin-top: 0;
      font-size: 2.5em;
  }
  .nav-main__logo{
    display: none;
  }
  .navbar-collapse{
    padding-top: 0px;
  }
  .nav-main{
    background-color: rgba(250, 250, 250, 0.8);
  }
  .navbar {
    min-height: 0px;
    margin-bottom: 0px;
    header {
      padding-bottom: 10px;
    }
    .nav-bar-top{
     font-size: 1.2em;
    }
    .navbar-header h1{
      float: left;
    }
    .header{
      display: none;
    }
    .navbar-nav {
      display: block;
      margin: 0;

      > li.dropdown > a {
        color: $body;
        padding-top: 10px;
      }

      > li > a {
        color: $body;
      }

      > li > a:hover a:active {
        background-color: transparent;
      }

      .open > a,
      a:focus,
      a:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    .dropdown-menu > li > a {
      text-align: center;
      margin-left: -20px;
    }

    .navbar-collapse {
      border-top: none;
      box-shadow: none;
    }
    .discover {
      .dropdown {
        background: none;
      }
    }
    .explore {
      .dropdown {
        background: none;
      }
    }
    .challenge {
      .dropdown {
        background: none;
      }
    }
  }
}
