<div class="main row" id="discover">
  <h3>DISCOVER</h3>
  <div class="row">
    <ul>
        <li><a href="#/discover/texas-state-government">TEXAS STATE GOVERNMENT</a></li>
        <li><a href="#/discover/house-of-representatives">TEXAS HOUSE OF REPRESENTATIVES</a></li>
        <li><a href="#/discover/how-a-bill-becomes-law">HOW A BILL BECOMES</br > A LAW</a></li>
        <li><a href="#/discover/founding-fathers">FOUNDING FATHERS</a></li>
        <li><a href="#/discover/six-flags-of-texas">SIX FLAGS OF TEXAS</a></li>
    </ul>
  </div> <!-- row -->
</div> <!-- discover -->

        

