<div class="main row" id="discover">

  <h3>{{ 'DISCOVERPAGE.FOUNDING_FATHERS.PAGETITLE' | translate }}</h3>

  <div class="col-md-12">

    <div class="col-md-2 pull-left">
      <img src="images/sam-houston.jpg" class="img-responsive">
      <p class="image-caption">{{ 'DISCOVERPAGE.FOUNDING_FATHERS.IMAGE1' | translate }}</p>
    </div>
    <div class="col-md-2 pull-left">
      <img src="images/stephen-f-austin.jpg" class="img-responsive">
      <p class="image-caption">{{ 'DISCOVERPAGE.FOUNDING_FATHERS.IMAGE2' | translate }}</p>
    </div>
    <p>{{ 'DISCOVERPAGE.FOUNDING_FATHERS.P1' | translate }}</p>
    <p>{{ 'DISCOVERPAGE.FOUNDING_FATHERS.P2' | translate }}</p>
  </div>

  <!-- <div class="col-md-12">
    <h4>{{ 'DISCOVERPAGE.FOUNDING_FATHERS.QUESTION' | translate }}</h4>
    <ul>
      <li>{{ 'DISCOVERPAGE.FOUNDING_FATHERS.TRUE' | translate }}</li>
      <li>{{ 'DISCOVERPAGE.FOUNDING_FATHERS.FALSE' | translate }}</li>
    </ul>
    </div> -->
</div>
<!-- discover -->
