<div class="main row" id="discover">
    <div class="col-md-12">
    <h3>DISCOVER THE FOUNDING FATHERS</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <section class="col-sm-6 pull-left">
    <div class="founding">
    <img src="images/sam-houston.jpg" class="img-responsive">
    <p>Sam Houston</p>
    </div>
    <div class="founding">
    <img src="images/stephen-f-austin.jpg" class="img-responsive">
    <p>Stephen F. Austin</p>
    </div>
    </section>
    <ul>
        <li><a href="#/discover/texas-state-government">TEXAS STATE GOVERNMENT</a></li>
        <li><a href="#/discover/house-of-representatives">TEXAS HOUSE OF REPRESENTATIVES</a></li>
        <li><a href="#/discover/how-a-bill-becomes-law">HOW A BILL BECOMES</br > A LAW</a></li>
        <li><a href="#/discover/founding-fathers">FOUNDING FATHERS</a></li>
        <li><a href="#/discover/six-flag-of-texas">SIX FLAGS OF TEXAS</a></li>
    </ul>

    </div>

    <div class="row border">

    <div class="col-md-8 col-sm-8 col-xs-8" id="question">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h5>Question about the Founding Fathers?</h5>
    <ul>
        <li>answer 1 goes here</li>
        <li><a href="#/discover/founding-fathers/sub2">answer 2 goes here</a></li>
        <li>answer  3goes here</li>
    </ul>
    
    
    <div ui-view="sub" class="slide pull-right" id="answer"></div>

    </div>
</div> <!-- discover -->

        

