    <div class="main row" id="discover">
    <h3>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.PAGETITLE' | translate }}</h3>
    <div class="row">

    <p>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.TITLE' | translate }}</p>

    <div class="col-md-12">
        <ul>
          <li>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.ITEM1' | translate }}</li>
          <li>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.ITEM2' | translate }}</li>
          <li>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.ITEM3' | translate }}</li>
          <li>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.ITEM4' | translate }}</li>
          <li>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.ITEM5' | translate }}</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9">
  <div>
    <div ng-controller="SliderHouseCtrl">
     <div hs-slider-house></div>
    </div>
  </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-2">
    <p  class="image-caption"><em></em></p>
    <div class="circle circle--branch">
      <div>
        <div class="circle__action"><a href="http://www.house.texas.gov">{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.CLICK_HERE.TITLE' | translate }}</a></div>
        <div class="circle__sub">{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.CLICK_HERE.ITEM1' | translate }}</div>
        <div class="circle__title circle__title--exec">{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.CLICK_HERE.ITEM2' | translate }}</div>
        <div class="circle__title">{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.CLICK_HERE.ITEM3' | translate }}</div>
        <div class="circle__play"><i class="glyphicon glyphicon-play"></i></div>
      </div>
    </div>

  </div>
  </div>

    </div>

    </div> <!-- row -->
</div> <!-- discover -->
