    <div class="main row" id="discover">
    <h3>DISCOVER THE TEXAS HOUSE OF REPRESENTATIVES</h3>
    <div class="row">

    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback.</p>

    <div class="col-md-4">
        <ul>
          <li>Cow drumstick</li>
          <li>sausage ribeye ball 1</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
          <li>Cow drumstick</li>
          <li>sausage ribeye ball 2</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
          <li>Cow drumstick</li>
          <li>sausage ribeye ball 3</li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12">
  <div class="center">
    <div ng-controller="SlideCtrl">
    <div class="image-slider">
      <img ng-repeat="slide in slides" class="image-slide"
            ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
        <a class="arrow prev" href="#{{ location.path() }}" ng-click="nextSlide()"></a>
        <a class="arrow next" href="#{{ location.path() }}" ng-click="prevSlide()"></a>
        <nav class="slider-nav">
          <div class="slider-wrapper">
            <ul class="dots">
              <li class="dot" ng-repeat="slide in slides">
              <a href="#{{ location.path() }}" ng-class="{'active':isCurrentSlideIndex($index)}"
                    ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
          </div>
        </nav>
    </div>
    </div>
  </div>
    </div>
    <div class="col-lg-2 col-md-10 col-sm-10">
    <p  class="image-caption"><em>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</em></p>
    <div class="circle-click-here circle-green">
      <div>
        <div>Click HERE</div>
        <div>to explore the</div>
        <div class="child-4">House</div> 
        <div class="chamber">Chamber</div>
        <div class="click-here-play"><i class="glyphicon glyphicon-play"></i></div>
      </div>
    </div> <!-- circle -->

  </div>

    </div>

    </div> <!-- row -->
</div> <!-- discover -->

        

