    <div class="main row" id="discover">
    <h3>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.PAGETITLE' | translate }}</h3>
    <div class="row">

    <p>{{ 'DISCOVERPAGE.THE_TEXAS_HOUSE_OF_REPRESENTATIVES.P' | translate }}</p>

    <div class="col-sm-12 col-md-12 col-lg-9">
  <div>
    <div ng-controller="SliderHouseCtrl">
     <div hs-slider-house></div>
    </div>
  </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-2">

      <div class="circle circle--senate">
        <a href="http://www.house.texas.gov" target="_blank">
        <div>
          <div class="circle__action">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.TITLE" | translate }}</div>
          <div class="circle__sub">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM1" | translate }}</div>
          <div class="circle__sub2">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM2" | translate }}</div>
          <div class="circle__title circle__title--texas">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM3" | translate }}</div>
          <div class="circle__title-sub">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM5" | translate }}</div>
          <div class="circle__exclamation">!</div>
        </div>
        </a>
      </div>

  </div>
  </div>

    </div>

    </div> <!-- row -->
</div> <!-- discover -->
