<div class="main row" id="discover">
  <h3>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.PAGETITLE' | translate }}</h3>

  <div class="row border">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11925/player?autoplay=1&captions=false" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <p><em>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P' | translate }}</em></p>
    </div>
  </div>
  <!-- row -->

  <div class="row border">
    <div class="col-md-12">
      <div class="col-md-2">
        <img src="images/paperstack.jpg" class="bill-images img-responsive pull-left">
      </div>
      <div class="col-md-10">
        <h4><strong>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.TITLE1' | translate }}</strong></h4>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P1' | translate }}</p>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P2' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- row -->

  <div class="row border">
    <div class="col-md-12">
      <div class="col-md-2">
        <img src="images/podium.jpg" class="bill-images img-responsive pull-left">
      </div>
      <div class="col-md-10">
        <h4><strong>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.TITLE2' | translate }}</strong></h4>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P3' | translate }}</p>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P4' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row border">
    <div class="col-md-12">
      <div class="col-md-2">
        <img src="images/gavel.jpg" class="bill-images img-responsive pull-left">
      </div>
      <div class="col-md-10">
        <h4><strong>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.TITLE3' | translate }}</strong></h4>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P5' | translate }}</p>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P6' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <img src="images/paperscroll.jpg" class="bill-images img-responsive pull-left">
      </div>
      <div class="col-md-10">
        <h4><strong>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.TITLE4' | translate }}</strong></h4>
        <p>{{ 'DISCOVERPAGE.HOW_A_BILL_BECOMES_A_LAW.P7' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- row -->
</div>
<!-- discover -->
