<div class="main row" id="discover">
    <h3>HOW A BILL BECOMES A LAW</h3>

    <div class="row border">
    <div class="col-md-8">
    <img src="images/welcome-video.jpg" class="img-responsive pull-right">
    </div>
    <div class="col-md-4">
    <p><em>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</em></p>
    </div>
    </div> <!-- row -->

    <div class="row border">
    <div class="col-md-12">
    <img src="images/paperstack.jpg" class="img-responsive pull-left">
    <h4>Introduction</h4>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    </div>
    </div> <!-- row -->

    <div class="row border">
    <div class="col-md-12">
    <img src="images/podium.jpg" class="img-responsive pull-right">
    <h4>House Committees</h4>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    </div>
    </div> <!-- row -->
   <div class="row border">
    <div class="col-md-12">
    <img src="images/gavel.jpg" class="img-responsive pull-left">
    <h4>Floor Action</h4>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    </div>
    </div> <!-- row -->
   <div class="row">
    <div class="col-md-12">
    <img src="images/paperscroll.jpg" class="img-responsive pull-right">
    <h4>Signing of the Bill</h4>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>
    </div>
    </div> <!-- row -->
</div> <!-- discover -->

        

