    <div class="main row" id="discover">
    <h3>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE3' | translate }}</h3>
    <div class="row">
    <p>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.P4' | translate }}</p>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"  src="http://tlchouse.granicus.com/videos/11927/player?autoplay=1&captions=false" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    </div> <!-- row -->
</div> <!-- discover -->
