<div class="main row" id="discover">
    <h3>DISCOVER TEXAS STATE GOVERNMENT</h3>
    <h4>Executive Branch</h4>
    <div class="row border">

    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback. Meatball drumstick cow doner, sausage chuck flank capicola spare ribs corned beef prosciutto jerky hamburger rump. Swine meatloaf filet mignon boudin beef ribs biltong pork, venison tongue. Drumstick short loin bacon frankfurter filet mignon short ribs.</p>

    <section class="col-sm-6 pull-right">
      <img src="http://placehold.it/750x450" class="img-responsive">
      <p class="image-caption">Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola.</p>
    </section>

    <p>Pork belly rump short loin bresaola hamburger, boudin fatback capicola doner biltong pig meatball tenderloin porchetta. Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf.</p>

    <div class="col-sm-4">
        <ul>
          <li>Cow drumstick</li>
          <li>sausage ribeye ball</li>
          <li>cow beef ribs</li>
          <li>brisket</li>
        </ul>
    <div class="circle circle--branch">
      <div>
        <div class="circle__action">Click HERE</div>
        <div class="circle__sub">to learn more</div>
        <div class="circle__sub2">about the</div>
        <div class="circle__title circle__title--exec">Executive</div> 
        <div class="circle__title-sub">Branch</div>
        <div class="circle__exclamation">!</div>
      </div>
    </div>

    </div>



    </div>
    <h4>Legislative Branch: <em>Texas House of Representations</em></h4>
    <div class="row">
    <div class="col-sm-6 col-md-6">
    <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>
    <ul>
      <li>Cow drumstick</li>
      <li>sausage ribeye ball</li>
      <li>cow beef ribs</li>
      <li>brisket</li>
    </ul>
    </div>
    
    <section class="col-sm-6 pull-right">
      <img src="http://placehold.it/750x450" class="img-responsive">
      <p class="image-caption">Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola.</p>
    </section>
    </div>
    <div class="row border">
    <div class="col-sm-2 col-md-2">
      <img src="http://placehold.it/150x200" class="img-responsive pull-left">
    </div>
    <div class="col-sm-9 col-md-9">
      <h5><em>The Speaker of the House</em></h5>
      <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>
    </div>
    </div> <!-- row -->
    <div class="row">
    <h4>Legislative Branch: <em>Texas Senate</em></h4>


    <section class="col-sm-6 pull-left">
      <img src="http://placehold.it/650x450" class="img-responsive">
      <p class="image-caption">Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig.</p>
    </section>
    <div class="col-md-6">
    <div class="circle circle--senate pull-right">
      <div>
        <div class="circle__action">Click HERE</div>
        <div class="circle__sub">to discover more</div>
        <div class="circle__sub2">about the</div>
        <div class="circle__title circle__title--texas">Texas</div> 
        <div class="circle__title-sub">Senate</div>
        <div class="circle__exclamation">!</div>
      </div>
    </div>

        <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback. Meatball drumstick cow doner, sausage chuck flank capicola spare ribs corned beef prosciutto jerky hamburger rump.</p>
        <ul>
          <li>Cow drumstick</li>
          <li>sausage ribeye ball</li>
          <li>cow beef ribs</li>
          <li>brisket</li>
        </ul>

    </div>

    </div> <!-- row -->
    <div class="row">
    <div class="col-sm-2 col-md-2">
      <img src="http://placehold.it/150x200" class="img-responsive pull-left">
    </div>
    <div class="col-sm-9 col-md-9">
      <h5><em>Lieutenant Governor</em></h5>
      <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>
    </div>
    </div> <!-- row -->
</div> <!-- discover -->
        

