<div class="main row" id="discover">
    <div class="row">
      <div class="col-lg-12">
      <h3>{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.PAGETITLE' | translate }}</h3>
      <h4><strong>{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.TITLE' | translate }}</strong>: <em>{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.TITLE1' | translate }}</em></h4>
      </div>
    <section class="col-sm-12 col-md-6 col-lg-6 pull-right">
      <img src="images/discover/discover-texas-state-government.jpg" class="img-responsive">
      <!-- <p class="image-caption">{{ "DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.TITLE" | translate }}</p> -->
    </section>
    <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="circle circle--branch pull-left">
      <a href="http://gov.texas.gov" target="_blank">
      <div>
        <div class="circle__action">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.TITLE' | translate }}</div>
        <div class="circle__sub">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.ITEM1' | translate }}</div>
        <div class="circle__sub2">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.ITEM2' | translate }}</div>
        <div class="circle__title circle__title--exec">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.ITEM3' | translate }}</div>
        <div class="circle__title-sub">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.ITEM4' | translate }}</div>
        <div class="circle__exclamation">!</div>
      </div>
      </a>
    </div>
    <p>{{ 'DISCOVERPAGE.EXECUTIVE_BRANCH.P' | translate }}</p>
    </div>
    </div>
    <div class="row border">
    <div class="col-sm-2 col-md-2">
      <img src="images/discover/governor.jpg" class="img-responsive">
      <p class="image-caption">Governor Greg Abbott</p>
    </div>

    <div class="col-sm-9 col-md-9">
      <h6>{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.TITLE1' | translate }}</h6>
      <p>{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.P1' | translate }}</p>
    </div>
    </div> <!-- row -->
    <div class="row">
    <div class="col-lg-12">
    <h4><strong>{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.PAGETITLE" | translate }}</strong>: <em>{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE3" | translate }}</em></h4>
    </div>
    <section class="col-sm-4 pull-left">
      <img src="images/discover/senate.jpg" class="img-responsive">
      <p class="image-caption">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE3" | translate }}</p>
    </section>
    <div class="col-md-8">
    <div class="circle circle--senate pull-right">
      <a href="http://www.senate.texas.gov" target="_blank">
      <div>
        <div class="circle__action">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.TITLE" | translate }}</div>
        <div class="circle__sub">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM1" | translate }}</div>
        <div class="circle__sub2">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM2" | translate }}</div>
        <div class="circle__title circle__title--texas">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM3" | translate }}</div>
        <div class="circle__title-sub">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM4" | translate }}</div>
        <div class="circle__exclamation">!</div>
      </div>
     </a>
    </div>

        <p>{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.P4" | translate }}</p>

    </div>

    </div> <!-- row -->
    <div class="row border">
    <div class="col-sm-2 col-md-2">
      <img src="images/discover/lieutenant-governor.jpg" class="img-responsive pull-left">
      <p class="image-caption">Lieutenant Governor Dan Patrick</p>
    </div>
    <div class="col-sm-9 col-md-9">
      <h6>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE4' | translate }}</h6>
      <p>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.P5' | translate }}</p>
    </div>
    </div> <!-- row -->
    <div class="col-lg-12">
    <h4><strong>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.PAGETITLE' | translate }}</strong>: <em>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE' | translate }}</em></h4>
  </div>
    <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="circle circle--senate pull-right">
        <a href="http://www.house.texas.gov" target="_blank">
        <div>
          <div class="circle__action">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.TITLE" | translate }}</div>
          <div class="circle__sub">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM1" | translate }}</div>
          <div class="circle__sub2">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM2" | translate }}</div>
          <div class="circle__title circle__title--texas">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM3" | translate }}</div>
          <div class="circle__title-sub">{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.CLICK_HERE.ITEM5" | translate }}</div>
          <div class="circle__exclamation">!</div>
        </div>
        </a>
      </div>
      <p>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.P1' | translate }}</p>
    <ul>
      <li>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.ITEM1' | translate }}</li>
      <li>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.ITEM2' | translate }}</li>
      <li>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.ITEM3' | translate }}</li>
      <li>{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.ITEM4' | translate }}</li>
    </ul>

    </div>

    <section class="col-sm-6 pull-right">
      <img src="images/discover/texas-house.jpg" class="img-responsive">
      <p class="image-caption">{{ 'DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE' | translate }}</p>
    </section>
    </div>
    <div class="row border">
    <div class="col-sm-2 col-md-2">
      <img src="images/discover/speaker.jpg" class="img-responsive">
      <p class="image-caption">Speaker Joe Straus</p>
    </div>
    <div class="col-sm-9 col-md-9">
      <h6>{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.TITLE2" | translate }}</h6>
      <p>{{ "DISCOVERPAGE.LEGISLATIVE_BRANCH.P3" | translate }}</p>
    </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <h4><strong>{{ 'DISCOVERPAGE.SUPREME_COURT.PAGETITLE' | translate }}</strong>: <em>{{ 'DISCOVERPAGE.SUPREME_COURT.TITLE' | translate }}</em></h4>
      </div>
      <div class="col-md-5">
        <img src="images/discover/judicial-branch.jpg" class="img-responsive">
        <p class="image-caption">{{ "DISCOVERPAGE.SUPREME_COURT.ITEM" | translate }}</p>
      </div>
    <section class="col-md-7">
      <div class="circle circle--branch pull-right">
        <a href="http://www.txcourts.gov/supreme" target="_blank">
        <div>
          <div class="circle__action">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.TITLE' | translate }}</div>
          <div class="circle__sub">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.ITEM1' | translate }}</div>
          <div class="circle__sub2">{{ 'DISCOVERPAGE.TEXAS_STATE_GOVERNMENT.CLICK_HERE.ITEM2' | translate }}</div>
          <div class="circle__title circle__title--exec">Texas</div>
          <div class="circle__title-sub">Supreme</div>
          <div class="circle__title-sub">Court</div>
        </div>
        </a>
      </div>
      <p>{{ "DISCOVERPAGE.SUPREME_COURT.P" | translate }}</p>
    </section>
    </div><!-- row -->
</div> <!-- discover -->
