<div class="main row" id="challenge">
    <h3>EXPLORE THE CAPITOL MONUMENTS &amp; STATUES!</h3>
    <div class="row border">
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback. Meatball drumstick cow doner, sausage chuck flank capicola spare ribs corned beef prosciutto jerky hamburger rump. Swine meatloaf filet mignon boudin beef ribs biltong pork, venison tongue. Drumstick short loin bacon frankfurter filet mignon short ribs. Pork belly rump short loin bresaola hamburger, boudin fatback capicola doner biltong pig meatball tenderloin porchetta.</p>
    </div>
    <div class="row border">
      <div class="col-sm-6 col-md-6">
    <h4>Start Here</h4>
    <img src="images/droplet-explore.png" class="pull-left" alt="An image in the shape of droplet with the number one on it">
    <h5>Tejano Monument</h5>
    <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>

    <h6>Beef kevin spare ribs tenderloin hamburger landjaeger?</h6>
    <ul>
      <li>Cow drumstick</li>
      <li>sausage ribeye ball</li>
      <li>cow beef ribs</li>
      <li>brisket</li>
    </ul>
    </div>

    <div class="col-sm-6 col-md-6">
    <img src="images/explore-tejano-monument.png" class="pull-right" alt="The tejano monument on the capitol grounds">
    </div>
    </div>
    <div class="row">
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback. Meatball drumstick cow doner, sausage chuck flank capicola spare ribs corned beef prosciutto jerky hamburger rump. Swine meatloaf filet mignon boudin beef ribs biltong pork, venison tongue. Drumstick short loin bacon frankfurter filet mignon short ribs. Pork belly rump short loin bresaola hamburger, boudin fatback capicola doner biltong pig meatball tenderloin porchetta.</p>
    <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>
    <p>Chicken tri-tip strip steak short ribs tongue ham hock bacon pork belly ground round fatback t-bone. Swine turkey pig, pork belly frankfurter brisket pancetta capicola beef bresaola turducken jerky tenderloin ribeye short loin. Ground round chicken venison strip steak filet mignon. Fatback leberkas pork loin flank. Pig porchetta meatloaf tenderloin cow. Short loin shoulder spare ribs, flank shankle meatball frankfurter porchetta sausage ham hock. Beef kevin spare ribs tenderloin hamburger landjaeger.</p>
    </div>
  </div>
</div>
        

