<div class="main row" id="challenge">
    <h3>{{ 'GLOSSARY' | translate }}</h3>
     <p><strong><a name="a"></a><span>A</span></strong></p>
       <p><strong>Amendments</strong>: Any proposed change to a bill or resolution
       as it moves through the legislative process.</p>

       <p><strong>Assembled</strong>: To bring or call together into a group or
       whole.</p>
       <!-- </p><strong>[<a href="#yop">Top</a>]
       </strong></p> -->
     <hr>
     <p><strong><a name="b" id="b"></a><span>B</span></strong></p>
       <p><strong>Bicameral</strong>: A legislature consisting of two houses, such
       as the House of Representatives and the Senate.</p>

      <p><strong>Bills</strong>: A type of legislative measure that requires passage
       by both chambers of the legislature and action by the Governor. A bill
       is the primary means used to create and change the laws of a state. A
       bill must be approved by both chambers of the Legislature and signed by
       the Governor before it becomes law.</p>
      <hr>
       <!-- </p><strong>[<a href="#yop">Top</a>]
       </strong></p> -->

     <p><strong><a name="c" id="c"></a><span>C</span></strong></p>
       <p><strong>Candidate</strong>: A person who seeks or is nominated for an
       office, prize, or honor.</p>
       <p><strong>Colonists</strong>: An original settler or founder of a colony.</p>
       <p><strong>Committee</strong>: A group of legislators, appointed by the presiding
       officer of the House or the Senate, to which proposed legislation is referred
       or a specific task is assigned.</p>
       <p><strong>Constituents</strong>: A resident of a district or member of a
       group represented by an elected official. One that authorizes another
       to act as a representative; a client.</p>
       <p><strong>Constitution</strong>: The system of fundamental laws and principles that
       prescribes the nature, functions, and limits of a government or another
       institution.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="d" id="d"></a><span>D</span></strong></p>
       <p><strong>Debate</strong>: To engage in argument by discussing opposing
       points.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="e" id="e"></a><span>E</span></strong></p>
       <p><strong>Elected</strong>: To select by vote for an office or for membership.</p>
       <p><strong>Elections</strong>: The process of choosing government officials
       by a vote of the citizens.</p>

       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="f" id="f"></a><span>F</span></strong></p>
       <p><strong>Filibuster</strong>: The use of obstructionist (blocking or interrupting)
       tactics, especially prolonged speechmaking, for the purpose of delaying
       legislative action.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="h" id="h"></a><span>H</span></strong></p>
       <p><strong>Historic Landmark</strong>: A building or site with historical
       significance, especially one marked for preservation by a municipal or
       national government.</p>
       <p><strong>House Chamber</strong>: A hall for the meetings of a legislative
       or other assembly.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="i" id="i"></a><span>I</span></strong></p>
       <p><strong>Illegal</strong>: Prohibited by law.</p>
       <p><strong>Immigration</strong>: To enter and settle in a country or region
       to which one is not native.</p>
       <p><strong>Infrastructure</strong>: The basic facilities, services, and installations
       needed for the functioning of a community or society, such as transportation
       and communications systems, water and power lines, and public institutions
       including schools, post offices, and prisons.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="l" id="l"></a></strong><strong><span>L</strong></p>
       <p><strong>Legislative</strong>: Of or relating to the enactment of laws.</p>
       <p><strong>Legislature</strong>: The lawmaking body (group of people) of
       the State of Texas. The Legislative body consists of two chambers (or
       parts), the House of Representatives and the Senate.</p>
       <p><strong>Lt. Governor</strong>: The leader of the Texas Senate. Unique
       in that he/she is part of both the Legislative and Executive branches
       of government.</p>
      <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="p" id="p"></a><span>P</span></strong></p>
       <p><strong>Podium</strong>: An elevated platform, as for an orchestra conductor
       or public speaker, (e.g., a member of the Texas Legislature may speak
       from a podium.)</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="r" id="r"></a><span>R</span></strong></p>
       <p><strong>Rebuttal</strong>: To refute, especially by offering opposing
       evidence or arguments, as in a legal case, (e.g., a member of the Texas
       Legislature may disagree or offer a rebuttal to proposed legislation.)</p>

       <p><strong>Resolution</strong>: A formal expression of opinion or decision,
       other than a proposed law, that may be offered for approval to one or
       both houses of the legislature by a member of the House or Senate.
       </p>
     <p><strong>Run</strong>: To compete
       in a race for elected office, (e.g., a person may try to be elected to
       serve in an elected office).</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
       <p><strong><a name="s" id="s"></a><span>S</span></strong></p>
       <p><strong>Senate Chamber</strong>: A hall or the meeting place of a legislative
       or other assembly.</p>
       <p><strong>Session</strong>:The period of time during which the Texas Legislature
       meets. The regular session convenes, or meets, every two years. The session
       may last no more than 140 days.</p>
       <p><strong>Settlement</strong>: A newly colonized region.</p>
       <p><strong>Sine Die:</strong> Latin for &quot;without day.&quot; The term
       used to signify the end of the Legislative session.</p>
       <p><strong>Speaker of the House</strong>: The presiding officer of the House of Representatives
       elected from and by the membership of the House at the beginning of each
       regular session.</p>
       <p><strong>Special Session</strong>: A called session, commonly referred
       to as a special session, is so designated because it must be called by
       the Governor. A called or special session may last no more than 30 days.</p>
       <p><strong>State Representative</strong>: Men and women who work at the State
       Capitol in Austin who consider bills and make new laws. </p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="t" id="t"></a><span>T</span></strong></p>
       <p><strong>Testimony</strong>: A declaration by a witness under oath, as
       that given before a court or deliberative body.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="u" id="u"></a><span>U</span></strong></p>
       <p><strong>Unicameral</strong>: Having or consisting of a single legislative
       chamber.</p>
       <p><strong>US Representative</strong>: Men and women who work at the Nation's
       Capitol in Washington D.C. who consider bills and make new laws.</p>
       <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="v" id="v"></a><span>V</span></strong></p>
       <p><strong>Vetoed</strong>: The rejection of an enrolled bill by the Governor.</p>
       <!-- </p><strong>[<a href="#yop">Top</a>]</strong></p> -->
     <hr>
     <p><strong><a name="y" id="y"></a><span>Y</span></strong></p>
       <p><strong>Yield</strong>: To give way to argument, persuasion, or influence.</p>
      <!-- <p><strong>[<a href="#yop">Top</a>]</strong></p> -->
</div>
