
<div class="main row" id="discover">
  <h3>{{ 'HOMEPAGE.PAGETITLE-N' | translate }}</h3>
  <div class="col-lg-8">
  <p>{{ 'HOMEPAGE.P1-N' | translate }}</p>
  <ul>
    <li>{{ 'HOMEPAGE.DISCOVER' | translate }}</li>
    <li>{{ 'HOMEPAGE.EXPLORE' | translate }}</li>
    <li>{{ 'HOMEPAGE.CHALLENGE' | translate }}</li>
    <li>{{ 'HOMEPAGE.How_A_Bill' | translate }}</li>
    <li>{{ 'HOMEPAGE.TOUR' | translate }}</li>
    <li><a href="#/resources">{{ 'HOMEPAGE.VIDEO' | translate }}</a></li>
  </ul>
  </div>
  <div class="col-lg-4">
    <div class="circle circle--branch animated bounce">
      <a href="" data-toggle="modal" data-target="#myModal">
        <div>
        <div class="circle__action">{{ 'HOMEPAGE.CLICK_HERE.TITLE' | translate }}</div>
        <div class="circle__sub">{{ 'HOMEPAGE.CLICK_HERE.ITEM1' | translate }}</div>
        <div class="circle__title circle__title--exec">{{ 'HOMEPAGE.CLICK_HERE.ITEM2' | translate }}</div>
        <div class="circle__play"><i class="glyphicon glyphicon-play"></i></div>
      </div>
     </a>
    </div>
    </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">WELCOME!</h3>
        </div>
        <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">

            <iframe class="embed-responsive-item" src="https://tlchouse.granicus.com/videos/12405/player?autoplay=0&captions=false&poster=true" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
$("#myModal").on('hidden.bs.modal', function (e) {
    $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
});
</script>
<!-- home -->
