<div class="main row" id="home">
    <h3>WELCOME!</h3>
    <div class="row">
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback. Meatball drumstick cow doner, sausage chuck flank capicola spare ribs corned beef prosciutto jerky hamburger rump. Swine meatloaf filet mignon boudin beef ribs biltong pork, venison tongue. Drumstick short loin bacon frankfurter filet mignon short ribs. Pork belly rump short loin bresaola hamburger, boudin fatback capicola doner biltong pig meatball tenderloin porchetta.</p>
    <div class="pull-left">
    	<img src="images/welcome-video.jpg" class="img-responsive" alt="The welcome video">
    </div>
    <div class="pull-right">
	<ul>
    	<li>Lorem ipsum Fugiat dolor</li>
    	<li>Lorem ipsum Dolor id aliquip</li>
    	<li>Lorem ipsum Anim occaecat</li>
    	<li>Lorem ipsum Tempor dolor</li>
    	<li>Lorem ipsum Id nulla</li>
    </ul>
    <p>Lorem ipsum In minim sed qui et fugiat Excepteur cupidatat. Lorem ipsum Do cillum tempor nostrud Ut qui irure labore. Lorem ipsum Dolore Ut dolore pariatur nostrud exercitation laboris dolor nostrud non dolor dolore.</p>
    <em><a href="#">Lorem ipsum Consectetur in consequat dolor occaecat consectetur cillum in officia.</a></em>
     </div>
    </div> <!-- row -->
</div> <!-- home -->

        

