<div class="main row" id="challenge">
    <h3>{{ 'RESOURCES' | translate }}</h3>
    <ul>
      <li>Texas House of Representatives: <a href="http://www.house.texas.gov">www.house.texas.gov</a></li>
      <li>Texas Senate: <a href="http://www.senate.texas.gov">www.senate.texas.gov</a></li>
      <li>Office of the Governor: <a href="http://www.gov.texas.gov">www.gov.texas.gov</a></li>
      <li>The State Preservation Board: <a href="http://www.tspb.texas.gov">www.tspb.texas.gov</a></li>
      <li>The Legislative Reference Library: <a href="http://www.lrl.texas.gov">www.lrl.texas.gov</a></li>
    </ul>
    <ul>
      <li>Who Represents Me? <a href="http://www.fyi.legis.state.tx.us">www.fyi.legis.state.tx.us</a></li>
      <li>How A Bill Becomes A Law: <a href="http://www.house.texas.gov/about-us/bill/">www.house.texas.gov/about-us/bill/</a></li>
    </ul>
</div>
