<div class="main row" id="challenge">
    <h3>{{ 'RESOURCES' | translate }}</h3>
    <ul>
      <li>Texas House of Representatives: <a href="http://www.house.texas.gov" target="_blank">www.house.texas.gov</a></li>
      <li>Texas Senate: <a href="http://www.senate.texas.gov" target="_blank">www.senate.texas.gov</a></li>
      <li>Office of the Governor: <a href="http://www.gov.texas.gov" target="_blank">www.gov.texas.gov</a></li>
      <li>The State Preservation Board: <a href="http://www.tspb.texas.gov" target="_blank">www.tspb.texas.gov</a></li>
      <li>The Legislative Reference Library: <a href="http://www.lrl.texas.gov" target="_blank">www.lrl.texas.gov</a></li>
    </ul>
    <ul>
      <li>Who Represents Me? <a href="http://www.fyi.legis.texas.gov" target="_blank">www.fyi.legis.texas.gov</a></li>
      <li>How A Bill Becomes A Law: <a href="http://www.house.texas.gov/about-us/bill/" target="_blank">www.house.texas.gov/about-us/bill/</a></li>
    </ul>
    <h3>PDFs Reference Guides</h3>
    <div class="container">
      <div class="col-md-3">A Kids' Guide<br/> <a href="assets/texas-house-kids-guide.pdf" target="_blank"><img src="images/kids-guide.jpg" alt="Kids Guide"></a></div>
      <div class="col-md-3">Discover Texas History<br/> <a href="assets/texas-house-kids-scavenger-hunt.pdf" target="_blank"><img src="images/kids-scavenger-hunt.jpg" alt="Kids Guide"></a></div>
    </div>
</div>
