<div class="main row" id="challenge">
    <h3>{{ 'RESOURCES' | translate }}</h3>
    <ul>
      <li>Texas House of Representatives: <a href="http://www.house.texas.gov" target="_blank">www.house.texas.gov</a></li>
      <li>Texas Senate: <a href="http://www.senate.texas.gov" target="_blank">www.senate.texas.gov</a></li>
      <li>Office of the Governor: <a href="http://www.gov.texas.gov" target="_blank">www.gov.texas.gov</a></li>
      <li>The State Preservation Board: <a href="http://www.tspb.texas.gov" target="_blank">www.tspb.texas.gov</a></li>
      <li>The Legislative Reference Library: <a href="http://www.lrl.texas.gov" target="_blank">www.lrl.texas.gov</a></li>
      <li>Who Represents Me? <a href="http://www.fyi.legis.texas.gov" target="_blank">www.fyi.legis.texas.gov</a></li>
      <li>How A Bill Becomes A Law: <a href="http://www.house.texas.gov/about-us/bill/" target="_blank">www.house.texas.gov/about-us/bill/</a></li>
    </ul>
    <div class="row no-gutters">
    <div class="col-md-3">
    <h3>VIDEOS</h3>
    <ul>
      <li><a href="" data-toggle="modal" data-target="#myWelcomeModal">Welcome</a></li>
      <li><a href="" data-toggle="modal" data-target="#myExploreModal">Explore The Capitol Grounds</a></li>
      <li><a href="" data-toggle="modal" data-target="#myBillModal">How A Bill Becomes A Law</a></li>
      <li><a href="" data-toggle="modal" data-target="#mySenateModal">Senate Chamber</a></li>
      <li><a href="" data-toggle="modal" data-target="#myRotundaModal">Rotunda</a></li>
    </ul>
  </div>
    <div class="col-md-9">
      <h3>REFERENCE GUIDES</h3>
    <div class="col-md-5">
      <h5>A Kids' Guide</h5>
      <a href="assets/texas-house-kids-guide.pdf" target="_blank"><img src="images/kids-guide.jpg" alt="Kids Guide PDF"></a>
    </div>
    <div class="col-md-6">
      <h5>Discover Texas History</h5>
    <a href="assets/texas-house-kids-scavenger-hunt.pdf" target="_blank"><img src="images/kids-scavenger-hunt.jpg" alt="Scavenger Hunt PDF"></a>
    </div>
    </div>
    </div>
    <div class="modal fade" id="myWelcomeModal" tabindex="-1" role="dialog" aria-labelledby="myWelcomeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myWelcomeModalLabel">WELCOME!</h3>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11928/player?autoplay=0&captions=false&splash=true&poster=true" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myExploreModal" tabindex="-1" role="dialog" aria-labelledby="myExploreModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myExploreModalLabel">Explore The Capitol Grounds</h3>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11924/player?autoplay=0&captions=false&splash=true&poster=true" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myBillModal" tabindex="-1" role="dialog" aria-labelledby="myBillModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myBillModalLabel">How A Bill Becomes A Law</h3>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11925/player?autoplay=0&captions=false&splash=true&poster=true" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="mySenateModal" tabindex="-1" role="dialog" aria-labelledby="mySenateModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="mySenateModalLabel">Senate Chamber</h3>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11927/player?autoplay=0&captions=false&splash=true&poster=true" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myRotundaModal" tabindex="-1" role="dialog" aria-labelledby="myRotundaModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myRotundaModalLabel">Rotunda</h3>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">

              <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11926/player?autoplay=0&captions=false&splash=true&poster=true" frameborder="0" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
$("#myWelcomeModal").on('hidden.bs.modal', function (e) {
    $("#myWelcomeModal iframe").attr("src", $("#myWelcomeModal iframe").attr("src"));
});
$("#myExploreModal").on('hidden.bs.modal', function (e) {
    $("#myExploreModal iframe").attr("src", $("#myExploreModal iframe").attr("src"));
});
$("#myBillModal").on('hidden.bs.modal', function (e) {
    $("#myBillModal iframe").attr("src", $("#myBillModal iframe").attr("src"));
});
$("#mySenateModal").on('hidden.bs.modal', function (e) {
    $("#mySenateModal iframe").attr("src", $("#mySenateModal iframe").attr("src"));
});
$("#myRotundaModal").on('hidden.bs.modal', function (e) {
    $("#myRotundaModal iframe").attr("src", $("#myRotundaModal iframe").attr("src"));
});
</script>
