<div class="main row" id="challenge">
    <h3>{{ 'SITEMAP' | translate }}</h3>
    <ul class="col-lg-6">
      <li><a href="/#/get-involved">{{ 'GET_INVOLVED' | translate }}</a></li>
      <li><a href="/#/resources">{{ 'RESOURCES' | translate }}</a></li>
      <li><a href="/#/glossary">{{ 'GLOSSARY' | translate }}</a></li>
      <li><a href="#/discover/texas-state-government">{{ 'TEXAS_STATE_GOVERNMENT' | translate }}</a></li>
      <li><a href="#/discover/house-of-representatives">{{ 'TEXAS_HOUSE_OF_REPRESENTATIVES' | translate }}</a></li>
      <li><a href="#/discover/senate">{{ 'TEXASSENATE' | translate }}</a></li>
      <li><a href="#/discover/how-a-bill-becomes-law">{{ 'HOW_A_BILL_BECOMES_A_LAW' | translate }}</a></li>
      <li><a href="#/discover/founding-fathers">{{ 'FOUNDING_FATHERS' | translate }}</a></li>
      <li><a href="#/discover/six-flags-of-texas">{{ 'SIX_FLAGS_OF_TEXAS' | translate }}</a></li>

    </ul>
    <ul class="col-lg-6">
      <li><a href="#/explore/texas-capitol">{{ 'TEXAS_CAPITOL' | translate }}</a></li>
      <li><a href="#/explore/capitol-grounds">{{ 'CAPITOL_GROUNDS' | translate }}</a></li>
      <li><a href="#/explore/capitol-monuments-statues">{{ 'MONUMENTS_STATUES' | translate }}</a></li>
      <li><a href="#/explore/rotunda">{{ 'ROTUNDA' | translate }}</a></li>
      <li><a href="#/explore/state-seal">{{ 'STATE_SEAL' | translate }}</a></li>
      <li><a href="#/explore/state-symbols">{{ 'STATE_SYMBOLS' | translate }}</a></li>
      <li><a href="#/explore/city-of-austin">{{ 'ABOUT_AUSTIN' | translate }}</a></li>
      <li><a href="#/challenge/flip-cards">{{ 'FLIP_CARD' | translate }}</a></li>
      <li><a href="#/challenge/word-search-puzzle">{{ 'WORD_SEARCH' | translate }}</a></li>
    </ul>
</div>
