<div class="main row" id="explore">
    <h3>EXPLORE THE CAPITOL MONUMENTS &amp; STATUES!</h3>
    <div class="row border">
    <p>Bacon ipsum dolor sit amet sausage t-bone turducken, bresaola jowl andouille ham shank kielbasa drumstick meatloaf. Doner jowl sausage hamburger shankle. Ham hock rump pastrami ground round fatback. Meatball drumstick cow doner, sausage chuck flank capicola spare ribs corned beef prosciutto jerky hamburger rump. Swine meatloaf filet mignon boudin beef ribs biltong pork, venison tongue. Drumstick short loin bacon frankfurter filet mignon short ribs. Pork belly rump short loin bresaola hamburger, boudin fatback capicola doner biltong pig meatball tenderloin porchetta.</p>
    </div>
    <div class="row border">

    <div class="question col-sm-6 col-md-6">
    <h4 class="question__title">Start Here</h4>
    <div class="question__droplet">
    <img src="images/droplet-explore.png" class="question__droplet__img pull-left">
    <span class="question__droplet__num">1</span>
    </div>
    <h5 class="question__sub-title">Tejano Monument</h5>
    <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>

    <h6 class="question__sub-question">Question about the monument goes here?</h6>
    <ul>
      <li>answer 1 goes here</li>
      <!-- <li><a href="#/discover/founding-fathers/sub2">answer 2 here</a></li> -->
      <li>answer 3 goes here</li>
    </ul>
    </div>

    <div class="col-sm-6 col-md-6">
    <div ui-view="sub" class="slide pull-right" id="answer"></div>

    <img src="images/explore-tejano-monument.png" class="pull-right img-responsive">
    </div>
    </div>
    <div class="row border">
   
    <div class="col-sm-6 col-md-6">
    <img src="images/explore-tejano-monument.png" class="pull-left img-responsive">
    </div>
    <div class="question col-sm-6 col-md-6">
    <h4 class="question__title">Next Stop</h4>
    <div class="question__droplet">
    <img src="images/droplet-explore.png" class="question__droplet__img pull-left">
    <span class="question__droplet__num">2</span>
    </div>
    <h5 class="question__sub-title">Texas Cowboy</h5>
    <p>Cow drumstick short ribs, shoulder tongue spare ribs beef ribs sirloin jerky boudin pig. Hamburger cow venison, sausage ribeye ball tip pork filet mignon turducken shoulder fatback ham hock. Biltong shoulder chuck pig t-bone tri-tip bresaola brisket prosciutto boudin. Chicken turkey hamburger sausage porchetta biltong brisket cow beef ribs chuck ground round tail frankfurter. Turkey sirloin pork loin tri-tip kevin spare ribs, strip steak cow tenderloin pork shankle.</p>

    <h6 class="question__sub-question">Question about the monument goes here?</h6>
    <ul>
      <li>answer 1 goes here</li>
      <li>answer 2 here</li>
      <li>answer 3 goes here</li>
    </ul>
    </div>
</div>

        

