<div class="main row" id="explore">
    <h3>{{ 'EXPLOREPAGE.CAPITOL_MONUMENTS_STATUES.PAGETITLE' | translate }}</h3>
    <div class="row border">
    <p>{{ 'EXPLOREPAGE.CAPITOL_MONUMENTS_STATUES.P' | translate }} <a href="http://www.tspb.state.tx.us/">The State Preservation Board website</a> {{ 'EXPLOREPAGE.CAPITOL_MONUMENTS_STATUES.P1' | translate }} </p>
    </div>
    <div class="row border" ui-view="sub">
      <div ng-controller="SliderMoumentsCtrl">
       <div hs-slider-mouments></div>
      </div>
    </div>
</div>
