<div class="main row" id="explore">
    <h3>{{ 'EXPLOREPAGE.CAPITOL_GROUNDS.PAGETITLE' | translate }}</h3>
    <div class="row">
    <p>{{ 'EXPLOREPAGE.CAPITOL_GROUNDS.P' | translate }}</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="http://tlchouse.granicus.com/videos/11924/player?autoplay=0&captions=false" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
</div>
