<div class="main row" id="explore">
    <h3>{{ 'EXPLOREPAGE.ROTUNDA.TITLE' | translate }}</h3>
    <div class="row">
    <p>{{ 'EXPLOREPAGE.ROTUNDA.SUBTITLE' | translate }}</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" width="320" height="240" >

      <source src="https://tlchouse.granicus.com/videos/11926/player?autoplay=1&captions=false" type="application/x-mpegurl">

      </video>
    </div>
    </div>
</div>
