<div class="main row" id="explore">
    <h3>EXPLORE THE STATE SEAL</h3>
    <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
       <div class="col-lg-9 col-md-12 col-sm-12">
  <div class="center">
    <div ng-controller="SlideCtrl">
    <div class="image-slider">
      <img ng-repeat="slide in slides" class="image-slide"
            ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
        <a class="arrow prev" href="#{{ location.path() }}" ng-click="nextSlide()"></a>
        <a class="arrow next" href="#{{ location.path() }}" ng-click="prevSlide()"></a>
        <nav class="slider-nav">
          <div class="slider-wrapper">
            <ul class="dots">
              <li class="dot" ng-repeat="slide in slides">
              <a href="#{{ location.path() }}" ng-class="{'active':isCurrentSlideIndex($index)}"
                    ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
          </div>
        </nav>
    </div>
    </div>
  </div>
    </div>
</div>

        

