<div class="main row" id="explore">
    <div class="col-md-12  border">
    <h3>{{ 'EXPLOREPAGE.TEXAS_CAPITOL.PAGETITLE' | translate }}</h3>

    <div class="capitol-layout">
      <div class="circle-click-on">
        <div class="text-center">
          <span><i class="glyphicon glyphicon-search"></i></span>
          <p>{{ 'EXPLOREPAGE.TEXAS_CAPITOL.CLICK_HERE' | translate }}</p>
        </div>
      </div>
       <div id="img-top"><a href="#/explore/texas-capitol/goddess"><img src="images/capitol/top.png"></a></div>
       <div id="img-senate"><a href="#/explore/texas-capitol/house"><img src="images/capitol/senate.png"></a></div>
       <div id="img-main" ><a href="#/explore/texas-capitol/capitol"><img src="images/capitol/main2.png"></a></div>
       <div id="img-dome"><a href="#/explore/texas-capitol/rotunda"><img src="images/capitol/dome.png"></a></div>
       <div id="img-mainback"><img src="images/capitol/mainback.png"></div>
       <div id="img-house"><a href="#/explore/texas-capitol/senate"><img src="images/capitol/house.png"></a></div>
    <div class="capitol-direction"><img src="images/capitol/direction-arrow.png"></div>
    </div>

   </div> <!-- border -->
   <div class="col-md-12">
   <div ui-view="sub">
     <h3>{{ 'EXPLOREPAGE.CAPITOL.TITLE' | translate }}</h3>
     <div class="col-lg-12">
       <div ng-controller="ExploreCapitolCtrl">
         <div hs-explore-capitol-slider></div>
     </div>
     </div>
     <!-- <p>{{ 'EXPLOREPAGE.TEXAS_CAPITOL.P3' | translate }}</p> -->
   </div>
   </div>
 </dig> <!-- col-md-12 -->
</div> <!-- explore -->
