<div class="main row" id="explore">
    <div class="col-md-12">
    <h3>EXPLORE THE TEXAS CAPITOL</h3>


<!--      <div id="capitol-layout">
       <a href=""><img src="images/capitol/top.png" id="img-top" class="img-responsive"></a>
       <a href=""><img src="images/capitol/senate.png" id="img-senate" class="img-responsive"></a>
       <a href=""><img src="images/capitol/main2.png" id="img-main" class="img-responsive"></a>
       <a href="#/explore/texas-capitol/dome"><img src="images/capitol/dome.png" id="img-dome" class="img-responsive"></a>
       <img src="images/capitol/mainback.png" id="img-mainback" class="img-responsive">
       <a href=""><img src="images/capitol/house.png" id="img-house" class="img-responsive"></a>
    </div> -->
    <div id="capitol-layout">
      <div class="circle-click-on circle-green">
        <div>
          <span class="center-content"><i class="glyphicon glyphicon-search"></i></span>
          <p class="text-center">Click on the Capitol building to see what's inside!</p>
        </div>
      </div>

       <div id="img-top"><a href="#/explore/texas-capitol/top" ><img src="images/capitol/top.png" class="img-responsive"></a></div>
       <div id="img-senate"><a href="#/explore/texas-capitol/senate"><img src="images/capitol/senate.png" class="img-responsive"></a></div>
       <div id="img-main" ><a href="#/explore/texas-capitol/main"><img src="images/capitol/main2.png" class="img-responsive"></a></div>
       <div id="img-dome"><a href="#/explore/texas-capitol/dome"><img src="images/capitol/dome.png" class="img-responsive"></a></div>
       <div id="img-mainback"><img src="images/capitol/mainback.png" class="img-responsive"></div>
       <div id="img-house"><a href="#/explore/texas-capitol/house"><img src="images/capitol/house.png" class="img-responsive"></a></div>
    </div>

<!--     <div class="container" ng-controller="ExploreCtrl">
      <h2>List</h2>
      <p class="form-group" ng-repeat="todo in todos">
      <input type="text" ng-model="todo" class="form-control">
      </p>
    </div> -->

   </div> <!-- border -->
   <div class="col-md-12">
   <div ui-view="sub"></div>
   </div>
 </dig> <!-- col-md-12 -->
</div> <!-- explore -->

        

